In [1]:
import pandas as pd
import numpy as np

# Get Datasets

## Patents

In [2]:
cities = pd.read_csv('Patents_Data/cities_with_scores.csv')

In [3]:
cities.head()

,Unnamed: 0,city_state,Year,Score1,Score2,Score5,Score6,Score7,City,State
0,0,New York_NY,1976,2.317268,2.718282,2.360150,2.718282,5.078432,New York,NY
1,1,Washington_DC,1976,1.558923,2.219101,1.738496,2.412346,4.150842,Washington,DC
2,2,Pittsburgh_PA,1976,2.718282,2.425776,2.564047,2.369092,4.933139,Pittsburgh,PA
3,3,Chicago_IL,1976,2.639930,2.393199,2.560876,2.358395,4.919271,Chicago,IL
4,4,Stamford_CT,1976,2.167678,2.186224,2.135113,2.301236,4.436350,Stamford,CT

In [4]:
cities.shape

(38573, 10)

In [5]:
cities_2012 = cities.loc[cities['Year']==2012]

In [6]:
cities_2012.shape

(972, 10)

In [7]:
cities_2012['city_state'] = cities_2012['city_state'].str.replace(' ','')
cities_2012['city_state'] = cities_2012['city_state'].str.replace(',','')
cities_2012['city_state'] = cities_2012['city_state'].str.replace('.','')

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [8]:
cities_2012['city_state'] = cities_2012['city_state'].str.lower()

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

## SBIR

In [9]:
sbir = pd.read_csv('Regulation_Data/SBIR/sbir_city_2012.csv')

In [10]:
sbir.head()

,Unnamed: 0,City_State,Award Mean,Award Sum,Company Count,City,State
0,0,Addison_TX,99261.0,99261.0,1,Addison,TX
1,1,Adelanto_CA,134990.4,674952.0,5,Adelanto,CA
2,2,Adelphia_NJ,99100.0,99100.0,1,Adelphia,NJ
3,3,Agoura hills_CA,149900.0,449700.0,3,Agoura hills,CA
4,4,Aiea_HI,315449.5,630899.0,2,Aiea,HI

In [11]:
sbir.shape

(1115, 7)

In [12]:
sbir['City_State'] = sbir['City_State'].str.replace(' ','')
sbir['City_State'] = sbir['City_State'].str.replace(',','')
sbir['City_State'] = sbir['City_State'].str.replace('.','')

In [13]:
sbir['City_State'] = sbir['City_State'].str.lower()

## Econ

In [14]:
econ = pd.read_csv('econ_data/2012_creative_class.csv')

In [15]:
econ.head()

,Unnamed: 0,city_state,creative_employees,regular_employees,creative_establishments,regular_establishments,percent_creative_class
0,0,Abbeville _AL,0.0,522.0,12.0,147.0,0.000000
1,1,Abbeville _GA,0.0,84.0,0.0,20.0,0.000000
2,2,Abbeville _LA,288.0,2427.0,120.0,679.0,10.607735
3,3,Abbeville _SC,33.0,58.0,20.0,187.0,36.263736
4,4,Aberdeen Proving Ground _MD,0.0,5322.0,35.0,381.0,0.000000

In [16]:
econ['city_state'] = econ['city_state'].str.replace(' ','')

In [17]:
econ['city_state'] = econ['city_state'].str.replace('.','')
econ['city_state'] = econ['city_state'].str.replace(',','')

In [18]:
econ['city_state'] = econ['city_state'].str.lower()

In [ ]:
econ['percent_creative_class'] = (econ['creative_employees']/(econ['creative_employees']+econ['regular_employees']))*100

## Demographics

# Begin Joins

In [19]:
#sbir with patents data
sbir_cities = cities_2012.merge(sbir, left_on = 'city_state', right_on = 'City_State', how = 'left')

In [20]:
sbir_creative_cities = sbir_cities.merge(econ,left_on = 'city_state', right_on = 'city_state', how = 'left')

In [21]:
sbir_creative_cities.sort_values('percent_creative_class', ascending =False)

,Unnamed: 0_x,city_state,Year,Score1,Score2,Score5,Score6,Score7,City_x,State_x,...,Award Sum,Company Count,City_y,State_y,Unnamed: 0,creative_employees,regular_employees,creative_establishments,regular_establishments,percent_creative_class
441,36107,saginaw_mi,2012,1.772433,1.785794,1.668531,1.518174,3.186705,Saginaw,MI,...,NaN,NaN,NaN,NaN,7812.0,19793.0,26593.0,208.0,1588.0,42.670202
501,36167,iowacity_ia,2012,1.807262,1.818767,1.638461,1.472211,3.110673,Iowa City,IA,...,2109696.00,2.0,Iowa city,IA,4282.0,29969.0,41881.0,386.0,2705.0,41.710508
160,35828,gainesville_fl,2012,1.974907,1.998535,1.831523,1.749526,3.581049,Gainesville,FL,...,6506520.00,18.0,Gainesville,FL,3238.0,36683.0,51715.0,884.0,5990.0,41.497545
48,35716,hartford_ct,2012,1.708347,2.016487,1.560088,2.056154,3.616243,Hartford,CT,...,NaN,NaN,NaN,NaN,3801.0,57495.0,98703.0,880.0,5599.0,36.809050
57,35725,peoria_il,2012,1.895665,2.025270,1.870020,2.009881,3.879901,Peoria,IL,...,NaN,NaN,NaN,NaN,6982.0,45956.0,81104.0,699.0,5077.0,36.168739
598,36264,greenbay_wi,2012,1.626007,1.631330,1.483187,1.435455,2.918642,Green Bay,WI,...,NaN,NaN,NaN,NaN,3534.0,28432.0,50648.0,421.0,3605.0,35.953465
52,35720,auburnhills_mi,2012,1.588965,2.065905,1.520044,2.032010,3.552054,Auburn Hills,MI,...,228485.00,2.0,Auburn hills,MI,359.0,21570.0,40771.0,238.0,1456.0,34.600022
576,36242,charleston_sc,2012,1.640622,1.670646,1.504558,1.441192,2.945750,Charleston,SC,...,835562.00,5.0,Charleston,SC,1492.0,39334.0,77949.0,1146.0,7703.0,33.537682
106,35774,akron_oh,2012,1.896601,1.962083,1.831523,1.829899,3.661422,Akron,OH,...,456936.00,2.0,Akron,OH,60.0,50688.0,101336.0,832.0,7157.0,33.342104
30,35698,menlopark_ca,2012,2.411400,2.505600,2.261464,2.152608,4.414072,Menlo Park,CA,...,3410679.00,11.0,Menlo park,CA,5652.0,13030.0,26445.0,531.0,2924.0,33.008233
867,36533,wallawalla_wa,2012,1.582761,1.591405,1.336830,1.345835,2.682664,Walla Walla,WA,...,83736.00,1.0,Walla walla,WA,9343.0,5675.0,13032.0,177.0,1386.0,30.336238
19,35688,cambridge_ma,2012,2.417691,2.491804,2.256948,2.239681,4.496630,Cambridge,MA,...,37798674.20,88.0,Cambridge,MA,1228.0,64812.0,149756.0,1521.0,7787.0,30.205809
584,36250,bloomfieldhills_mi,2012,1.873655,1.859988,1.803540,1.435455,3.238995,Bloomfield Hills,MI,...,NaN,NaN,NaN,NaN,801.0,3078.0,7265.0,308.0,1069.0,29.759257
651,36317,dalton_ga,2012,1.584730,1.757199,1.336830,1.410432,2.747261,Dalton,GA,...,NaN,NaN,NaN,NaN,2104.0,9259.0,22243.0,241.0,1759.0,29.391785
17,35686,detroit_mi,2012,1.732960,2.107265,1.582791,2.242347,3.825138,Detroit,MI,...,379624.00,2.0,Detroit,MI,2280.0,86682.0,208926.0,1430.0,13042.0,29.323293
301,35967,columbia_mo,2012,1.831815,1.850291,1.666775,1.600907,3.267683,Columbia,MO,...,1805528.00,4.0,Columbia,MO,1832.0,25964.0,62891.0,592.0,6111.0,29.220640
784,36450,pensacola_fl,2012,1.577505,1.598780,1.390322,1.373018,2.763340,Pensacola,FL,...,NaN,NaN,NaN,NaN,6979.0,24447.0,60528.0,798.0,5076.0,28.769638
32,35700,boston_ma,2012,2.354599,2.424852,2.159871,2.131810,4.291681,Boston,MA,...,15200514.00,24.0,Boston,MA,881.0,238592.0,609764.0,5393.0,35359.0,28.124042
964,36631,bluffdale_ut,2012,1.628597,1.632503,1.288255,1.313297,2.601551,Bluffdale,UT,...,NaN,NaN,NaN,NaN,829.0,348.0,904.0,47.0,311.0,27.795527
22,35690,stlouis_mo,2012,2.136229,2.238151,1.979720,2.219075,4.198795,St. Louis,MO,...,1267839.00,5.0,St. louis,MO,8539.0,81699.0,217228.0,1659.0,14932.0,27.330753
67,35735,madison_wi,2012,2.097350,2.120864,2.033102,1.945609,3.978711,Madison,WI,...,16319369.00,44.0,Madison,WI,5322.0,71792.0,191280.0,1523.0,12073.0,27.289867
416,36082,morganhill_ca,2012,2.118202,2.088781,1.901191,1.532421,3.433612,Morgan Hill,CA,...,NaN,NaN,NaN,NaN,5960.0,3699.0,10494.0,197.0,1719.0,26.062143
675,36341,fargo_nd,2012,1.771787,1.776656,1.668531,1.403572,3.072103,Fargo,ND,...,1798472.00,3.0,Fargo,ND,2889.0,18739.0,53656.0,693.0,5804.0,25.884384
317,35983,morrisville_nc,2012,2.019766,2.055951,1.831523,1.588498,3.420021,Morrisville,NC,...,288530.00,1.0,Morrisville,NC,5980.0,7182.0,20768.0,204.0,1484.0,25.695886
26,35694,seattle_wa,2012,2.591481,2.580201,2.506269,2.180841,4.687110,Seattle,WA,...,15031343.00,40.0,Seattle,WA,8042.0,199404.0,601273.0,6848.0,47758.0,24.904425
220,35886,orem_ut,2012,1.936772,1.997812,1.731445,1.681117,3.412562,Orem,UT,...,NaN,NaN,NaN,NaN,6697.0,14656.0,44899.0,501.0,4401.0,24.609185
279,35945,columbia_sc,2012,1.854668,1.858889,1.697826,1.623609,3.321435,Columbia,SC,...,1908798.00,4.0,Columbia,SC,1834.0,37147.0,116284.0,1554.0,8269.0,24.210883
126,35794,billerica_ma,2012,1.942754,2.087771,1.708195,1.792873,3.501067,Billerica,MA,...,7226076.00,15.0,Billerica,MA,751.0,5144.0,16215.0,205.0,1552.0,24.083525
348,36014,littlerock_ar,2012,1.642702,1.734908,1.512461,1.572485,3.084947,Little Rock,AR,...,329368.00,3.0,Little rock,AR,5077.0,53473.0,169025.0,2003.0,13386.0,24.033025
53,35721,durham_nc,2012,2.196327,2.279598,2.072299,2.026748,4.099047,Durham,NC,...,8427549.78,21.0,Durham,NC,2417.0,26105.0,84481.0,1579.0,11599.0,23.606062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
842,36508,ftlauderdale_fl,2012,1.641666,1.751326,1.464094,1.355395,2.819490,Ft. Lauderdale,FL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
843,36509,manhasset_ny,2012,1.685667,1.776228,1.404976,1.355395,2.760371,Manhasset,NY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
845,36511,carmel_ca,2012,1.752515,1.773977,1.442746,1.355395,2.798141,Carmel,CA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
850,36516,niles_il,2012,1.594537,1.624573,1.442746,1.355395,2.798141,Niles,IL,...,1275000.00,5.0,Niles,IL,NaN,NaN,NaN,NaN,NaN,NaN
856,36522,sparks_md,2012,1.489174,1.520924,1.314352,1.345835,2.660187,Sparks,MD,...,1492448.00,2.0,Sparks,MD,NaN,NaN,NaN,NaN,NaN,NaN
861,36527,cumberland_ri,2012,1.714302,1.700914,1.520044,1.345835,2.865879,Cumberland,RI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
863,36529,westconshohocken_pa,2012,1.509879,1.578829,1.128455,1.345835,2.474290,West Conshohocken,PA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
864,36530,statecollege_pa,2012,1.820883,1.814890,1.688511,1.345835,3.034346,State College,PA,...,11686375.00,24.0,State college,PA,NaN,NaN,NaN,NaN,NaN,NaN
868,36534,franklin_ma,2012,1.859983,1.905390,1.708195,1.345835,3.054030,Franklin,MA,...,747092.00,1.0,Franklin,MA,NaN,NaN,NaN,NaN,NaN,NaN
871,36537,greenville_de,2012,1.512586,1.515966,1.301832,1.345835,2.647667,Greenville,DE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
872,36538,pacificpalisades_ca,2012,1.818427,1.813150,1.636426,1.345835,2.982261,Pacific Palisades,CA,...,1247237.00,2.0,Pacific palisades,CA,NaN,NaN,NaN,NaN,NaN,NaN
875,36541,bethpage_ny,2012,1.551212,1.603482,1.257018,1.345835,2.602853,Bethpage,NY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
879,36545,conshohocken_pa,2012,1.740427,1.788668,1.397804,1.335689,2.733494,Conshohocken,PA,...,727234.00,1.0,Conshohocken,PA,NaN,NaN,NaN,NaN,NaN,NaN
889,36555,woodclifflake_nj,2012,1.422096,1.621065,1.164736,1.335689,2.500426,Woodcliff Lake,NJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
892,36558,vernonhills_il,2012,1.992249,1.962715,1.775795,1.335689,3.111484,Vernon Hills,IL,...,354023.00,1.0,Vernon hills,IL,NaN,NaN,NaN,NaN,NaN,NaN
896,36562,eastaurora_ny,2012,1.546631,1.573519,1.436986,1.335689,2.772675,East Aurora,NY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
902,36569,farmingdale_nj,2012,1.431302,1.532294,1.325976,1.335689,2.661665,Farmingdale,NJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
904,36571,huntley_il,2012,1.522264,1.630148,1.314352,1.335689,2.650042,Huntley,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
908,36575,waverly_oh,2012,1.570312,1.635734,1.365688,1.335689,2.701377,Waverly,OH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
912,36579,rancocas_nj,2012,0.000000,1.380399,0.000000,1.335689,1.335689,Rancocas,NJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
913,36580,ramsey_nj,2012,1.792434,1.771516,1.504558,1.335689,2.840248,Ramsey,NJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917,36584,moorestown_nj,2012,1.724217,1.707918,1.436986,1.324877,2.761863,Moorestown,NJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
923,36590,yardley_pa,2012,1.986795,1.958371,1.781012,1.324877,3.105889,Yardley,PA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
925,36592,willowbrook_il,2012,1.549195,1.811866,1.448326,1.324877,2.773203,Willowbrook,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
930,36597,canton_mi,2012,2.053692,2.020675,2.038347,1.324877,3.363223,Canton,MI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,36608,westbury_ny,2012,1.412147,1.542745,1.164736,1.324877,2.489613,Westbury,NY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
944,36611,titusville_nj,2012,1.591965,1.823935,1.418488,1.324877,2.743365,Titusville,NJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
952,36619,tolimavalleycaguas_pr,2012,0.000000,1.721729,0.000000,1.324877,1.324877,Tolima Valley Caguas,PR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
963,36630,canonsburg_pa,2012,1.445649,1.495274,1.238689,1.313297,2.551986,Canonsburg,PA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
969,36636,spicewood_tx,2012,1.618855,1.647323,1.436986,1.313297,2.750282,Spicewood,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
sbir_creative_cities[~sbir_creative_cities['percent_creative_class'].isnull()].shape

(788, 23)

In [23]:
sbir_creative_cities.to_csv('sbir_creative_cities.csv')