In [15]:
import pandas as pd
import numpy as np

# Get Datasets

## Patents

In [16]:
cities = pd.read_csv('Patents_Data/cities_with_scores.csv')

In [17]:
cities.head()

,Unnamed: 0,city_state,Year,Score1,Score2,Score5,Score6,Score7,City,State
0,0,New York_NY,1976,2.317268,2.718282,2.360150,2.718282,5.078432,New York,NY
1,1,Washington_DC,1976,1.558923,2.219101,1.738496,2.412346,4.150842,Washington,DC
2,2,Pittsburgh_PA,1976,2.718282,2.425776,2.564047,2.369092,4.933139,Pittsburgh,PA
3,3,Chicago_IL,1976,2.639930,2.393199,2.560876,2.358395,4.919271,Chicago,IL
4,4,Stamford_CT,1976,2.167678,2.186224,2.135113,2.301236,4.436350,Stamford,CT

In [18]:
cities.shape

(38573, 10)

In [19]:
cities_1997 = cities.loc[cities['Year']==1997]

In [20]:
cities_1997.shape

(989, 10)

In [21]:
cities_1997['city_state'] = cities_1997['city_state'].str.replace(' ','')
cities_1997['city_state'] = cities_1997['city_state'].str.replace(',','')
cities_1997['city_state'] = cities_1997['city_state'].str.replace('.','')

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [22]:
cities_1997['city_state'] = cities_1997['city_state'].str.lower()

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

## SBIR

In [23]:
sbir = pd.read_csv('Regulation_Data/SBIR/clean_SBIR/clean_sbir_1997.csv')

In [24]:
sbir.head()

,Unnamed: 0,City_State,Award Mean,Award Sum,Company Count,City,State
0,0,acton_ma,76487.333333,229462,3,Acton,MA
1,30,agoura hills_ca,242511.500000,970046,4,Agoura hills,CA
2,39,aiken_sc,100000.000000,100000,1,Aiken,SC
3,51,akron_oh,395054.200000,1975271,5,Akron,OH
4,90,alachua_fl,197524.571429,1382672,7,Alachua,FL

In [25]:
sbir.shape

(700, 7)

In [26]:
sbir['City_State'] = sbir['City_State'].str.replace(' ','')
sbir['City_State'] = sbir['City_State'].str.replace(',','')
sbir['City_State'] = sbir['City_State'].str.replace('.','')

In [27]:
sbir['City_State'] = sbir['City_State'].str.lower()

## Econ

In [28]:
econ = pd.read_csv('econ_data/1997_creative_class.csv')

In [29]:
econ.head()

,Unnamed: 0,city_state,creative_employees,regular_employees,creative_establishments,regular_establishments
0,0,abbeville_al,0.0,138.0,0.0,44.0
1,1,abbeville_la,0.0,1396.0,56.0,440.0
2,2,abbeville_sc,0.0,528.0,0.0,111.0
3,3,aberdeentownship_nj,208.0,2676.0,32.0,465.0
4,4,aberdeen_md,0.0,2024.0,0.0,270.0

In [30]:
econ['city_state'] = econ['city_state'].str.replace(' ','')

In [31]:
econ['city_state'] = econ['city_state'].str.replace('.','')
econ['city_state'] = econ['city_state'].str.replace(',','')

In [32]:
econ['city_state'] = econ['city_state'].str.lower()

## Demographics

# Begin Joins

In [33]:
#sbir with patents data
sbir_cities = cities_1997.merge(sbir, left_on = 'city_state', right_on = 'City_State', how = 'left')

In [34]:
sbir_creative_cities = sbir_cities.merge(econ,left_on = 'city_state', right_on = 'city_state', how = 'left')

In [35]:
sbir_creative_cities.columns

Index(['Unnamed: 0_x', 'city_state', 'Year', 'Score1', 'Score2', 'Score5',
       'Score6', 'Score7', 'City_x', 'State_x', 'Unnamed: 0_y', 'City_State',
       'Award Mean', 'Award Sum', 'Company Count', 'City_y', 'State_y',
       'Unnamed: 0', 'creative_employees', 'regular_employees',
       'creative_establishments', 'regular_establishments'],
      dtype='object')

In [36]:
sbir_creative_cities[~sbir_creative_cities['creative_establishments'].isnull()].shape

(753, 22)

In [38]:
sbir_creative_cities.to_csv('sbir_creative_cities_1997.csv')