## Notebook plan

Clean FF data

In [24]:
import pandas as pd
import numpy as np

### Recipient Data

In [25]:
recipient_df = pd.read_csv('FF2012_recipient.csv')

In [26]:
recipient_df.head()

,Unnamed: 0,recipient_city_state,recipient_count,recipient_amount,recipient_city_name,recipient_state_code
0,0,"ABBEVILLE, AL",11,5422891.11,ABBEVILLE,AL
1,1,"ABBEVILLE, GA",5,115500.00,ABBEVILLE,GA
2,2,"ABBEVILLE, LA",32,2659588.91,ABBEVILLE,LA
3,3,"ABBEVILLE, SC",7,75745.80,ABBEVILLE,SC
4,4,"ABBOTSFORD, WI",1,5069.28,ABBOTSFORD,WI

In [27]:
recipient_df['city'] = recipient_df.recipient_city_name.apply(lambda x: str.lower(x))
recipient_df['state'] = recipient_df.recipient_state_code.apply(lambda x: str.lower(x))
recipient_df['city_state'] = recipient_df.city + '_' + recipient_df.state

In [28]:
recipient_df.columns

Index(['Unnamed: 0', 'recipient_city_state', 'recipient_count',
       'recipient_amount', 'recipient_city_name', 'recipient_state_code',
       'city', 'state', 'city_state'],
      dtype='object')

In [29]:
recipient_df = recipient_df[['city_state', 'recipient_count', 'recipient_amount']]
recipient_df['recipient_mean'] = recipient_df['recipient_amount'] / recipient_df['recipient_count']

In [30]:
recipient_df.city_state = recipient_df.city_state.apply(lambda x: x.replace(" ", ""))

In [31]:
recipient_df.head()

      city_state  recipient_count  recipient_amount  recipient_mean
0   abbeville_al               11        5422891.11   492990.100909
1   abbeville_ga                5         115500.00    23100.000000
2   abbeville_la               32        2659588.91    83112.153438
3   abbeville_sc                7          75745.80    10820.828571
4  abbotsford_wi                1           5069.28     5069.280000

### Performance Data

In [32]:
performance_df = pd.read_csv('FF2012_performance.csv')
performance_df.head()

,Unnamed: 0,performance_city_state,performance_count,performance_amount,primary_place_of_performance_city_name,primary_place_of_performance_state_code
0,0,"ABBEVILLE, GA",4,88500.00,ABBEVILLE,GA
1,1,"ABBEVILLE, LA",18,418144.09,ABBEVILLE,LA
2,2,"ABBEVILLE, MS",16,19227.29,ABBEVILLE,MS
3,3,"ABBEVILLE, SC",4,26890.29,ABBEVILLE,SC
4,4,"ABBOTSFORD, WI",1,5069.28,ABBOTSFORD,WI

In [33]:
performance_df.loc[performance_df.primary_place_of_performance_city_name == 'SAN DIEGO']

,Unnamed: 0,performance_city_state,performance_count,performance_amount,primary_place_of_performance_city_name,primary_place_of_performance_state_code
10947,10947,"SAN DIEGO, CA",29205,7.210459e+09,SAN DIEGO,CA
10948,10948,"SAN DIEGO, TX",5,4.018786e+05,SAN DIEGO,TX

In [34]:
performance_df['city'] = performance_df.primary_place_of_performance_city_name.apply(lambda x: str.lower(x))
performance_df['state'] = performance_df.primary_place_of_performance_state_code.apply(lambda x: str.lower(x))
performance_df['city_state'] = performance_df.city + '_' + performance_df.state

In [35]:
performance_df = performance_df[['city_state', 'performance_count', 'performance_amount']]
performance_df['performance_mean'] = performance_df['performance_amount'] / performance_df['performance_count']

In [36]:
performance_df.city_state = performance_df.city_state.apply(lambda x: x.replace(" ", ""))

In [37]:
performance_df.head()

      city_state  performance_count  performance_amount  performance_mean
0   abbeville_ga                  4            88500.00      22125.000000
1   abbeville_la                 18           418144.09      23230.227222
2   abbeville_ms                 16            19227.29       1201.705625
3   abbeville_sc                  4            26890.29       6722.572500
4  abbotsford_wi                  1             5069.28       5069.280000

In [38]:
ff_merged = recipient_df.merge(performance_df, how = 'outer')

In [39]:
ff_merged = ff_merged.fillna(0)

In [41]:
ff_merged.to_csv('ff_data_cleaned.csv')