In [8]:
import pandas as pd

In [9]:
initial_dict = dict()
conservation_dict = dict()
ratio_dict = dict()

In [10]:
years = list(range(1997,2014))

In [11]:
for i in years:
    data = pd.read_csv('all_collected_data_'+str(i)+'.csv')
#    data = data[['city_state', 'Year', 'Score1', 'Score2',
#       'Score5', 'Score6', 'Score7','Award Mean', 'Award Sum',
#       'Company Count','creative_employees', 'regular_employees', 
#       'creative_establishments','regular_establishments']]
#    data['Award Mean'] = data['Award Mean'].fillna(0)
#    data['Award Sum'] = data['Award Mean'].fillna(0)
#    data['Company Count'] = data['Award Mean'].fillna(0)
    rows_1 = data.shape[0]
    data_no_na = data.dropna()
    rows_2 = data_no_na.shape[0]
    ratio = (rows_2/rows_1)*100
    initial_dict.update({i:{'before_drop':rows_1}})
    conservation_dict.update({i:{'after_drop':rows_2}})
    ratio_dict.update({i:{'ratio':ratio}})

In [12]:
initial_dict

{1997: {'before_drop': 998},
 1998: {'before_drop': 999},
 1999: {'before_drop': 1001},
 2000: {'before_drop': 989},
 2001: {'before_drop': 998},
 2002: {'before_drop': 999},
 2003: {'before_drop': 1006},
 2004: {'before_drop': 1028},
 2005: {'before_drop': 1044},
 2006: {'before_drop': 999},
 2007: {'before_drop': 986},
 2008: {'before_drop': 990},
 2009: {'before_drop': 986},
 2010: {'before_drop': 986},
 2011: {'before_drop': 995},
 2012: {'before_drop': 987},
 2013: {'before_drop': 984}}

In [13]:
conservation_dict

{1997: {'after_drop': 565},
 1998: {'after_drop': 551},
 1999: {'after_drop': 561},
 2000: {'after_drop': 553},
 2001: {'after_drop': 558},
 2002: {'after_drop': 680},
 2003: {'after_drop': 689},
 2004: {'after_drop': 713},
 2005: {'after_drop': 713},
 2006: {'after_drop': 686},
 2007: {'after_drop': 699},
 2008: {'after_drop': 694},
 2009: {'after_drop': 695},
 2010: {'after_drop': 699},
 2011: {'after_drop': 704},
 2012: {'after_drop': 744},
 2013: {'after_drop': 737}}

In [14]:
ratio_dict

{1997: {'ratio': 56.613226452905806},
 1998: {'ratio': 55.15515515515516},
 1999: {'ratio': 56.043956043956044},
 2000: {'ratio': 55.91506572295247},
 2001: {'ratio': 55.91182364729459},
 2002: {'ratio': 68.06806806806807},
 2003: {'ratio': 68.48906560636183},
 2004: {'ratio': 69.3579766536965},
 2005: {'ratio': 68.29501915708812},
 2006: {'ratio': 68.66866866866866},
 2007: {'ratio': 70.89249492900609},
 2008: {'ratio': 70.1010101010101},
 2009: {'ratio': 70.4868154158215},
 2010: {'ratio': 70.89249492900609},
 2011: {'ratio': 70.75376884422111},
 2012: {'ratio': 75.37993920972644},
 2013: {'ratio': 74.89837398373984}}

In [ ]:
data.shape

In [50]:
data_no_NA = data.dropna()

In [51]:
data_no_NA.head()

,city_state,Year,Score1,Score2,Score5,Score6,Score7,Award Mean,Award Sum,Company Count,creative_employees,regular_employees,creative_establishments,regular_establishments
1,santaclara_ca,2013,2.454178,2.568128,2.402200,2.608532,5.010732,483402.400000,483402.400000,483402.400000,18568.0,117034.0,1097.0,7398.0
2,sanjose_ca,2013,2.713612,2.718282,2.718282,2.601975,5.320257,472272.753000,472272.753000,472272.753000,59777.0,414256.0,4408.0,35292.0
3,mountainview_ca,2013,2.575207,2.620616,2.495599,2.601975,5.097574,689985.769231,689985.769231,689985.769231,12962.0,90429.0,761.0,5487.0
4,houston_tx,2013,2.368334,2.473257,2.386423,2.584727,4.971150,779427.952381,779427.952381,779427.952381,334415.0,2169243.0,13999.0,106288.0
5,sandiego_ca,2013,2.614353,2.674746,2.559636,2.573120,5.132756,468578.630432,468578.630432,468578.630432,142373.0,1078631.0,11301.0,72313.0

In [52]:
data_no_NA.shape

(789, 14)