In [9]:
import pandas as pd
import requests

In [28]:
variable_dict = {'B01003_001E':'total_population',            
'B01001_002E':'total_men',
'B01001_026E':'total_women',
'B02001_002E':'total_white',
'B02001_003E':'total_black',
'B02001_004E':'total_native',
'B02001_005E':'total_asian',
'B02001_006E':'total_hawaiin',
'B02001_007E':'total_other',
'B02001_008E':'total_two_or_more',
'B03002_012E':'total_latino',
'B05002_002E':'total_native_born',                
'B05002_014E':'total_foreign_born_naturalized',
'B05002_015E':'total_foreign_born_non_citizen', 
'B23025_002E':'total_in_labour_force', 
'B15003_017E': 'total_Regular_high_school_diploma',
'B15003_018E': 'total_GED_or_alternative_credential',
'B15003_019E': 'total_Some_college_less_than_1_year',
'B15003_020E': 'total_Some_college_1_or_more_years_no_degree',
'B15003_021E': 'total_Associates_degree',
'B15003_022E': 'total_Bachelors_degree',
'B15003_023E': 'total_Masters_degree',
'B15003_024E': 'total_Professional_school_degree',
'B15003_025E': 'total_Doctorate_degree',
'B19325_006E' : 'Estimate!!Total!!Male!!Worked full-time, year-round in the past 12 months!!With income!!$1 to $2,499 or loss',
'B19325_007E' : 'Estimate!!Total!!Male!!Worked full-time, year-round in the past 12 months!!With income!!$2,500 to $4,999',
'B19325_008E' : 'Estimate!!Total!!Male!!Worked full-time, year-round in the past 12 months!!With income!!$5,000 to $7,499',
'B19325_009E' : 'Estimate!!Total!!Male!!Worked full-time, year-round in the past 12 months!!With income!!$7,500 to $9,999',
'B19325_010E' : 'Estimate!!Total!!Male!!Worked full-time, year-round in the past 12 months!!With income!!$10,000 to $12,499',
'B19325_011E' : 'Estimate!!Total!!Male!!Worked full-time, year-round in the past 12 months!!With income!!$12,500 to $14,999',
'B19325_012E' : 'Estimate!!Total!!Male!!Worked full-time, year-round in the past 12 months!!With income!!$15,000 to $17,499',
'B19325_013E' : 'Estimate!!Total!!Male!!Worked full-time, year-round in the past 12 months!!With income!!$17,500 to $19,999',
'B19325_014E' : 'Estimate!!Total!!Male!!Worked full-time, year-round in the past 12 months!!With income!!$20,000 to $22,499',
'B19325_015E' : 'Estimate!!Total!!Male!!Worked full-time, year-round in the past 12 months!!With income!!$22,500 to $24,999',
'B19325_016E' : 'Estimate!!Total!!Male!!Worked full-time, year-round in the past 12 months!!With income!!$25,000 to $29,999',
'B19325_017E' : 'Estimate!!Total!!Male!!Worked full-time, year-round in the past 12 months!!With income!!$30,000 to $34,999',
'B19325_018E' : 'Estimate!!Total!!Male!!Worked full-time, year-round in the past 12 months!!With income!!$35,000 to $39,999',
'B19325_019E' : 'Estimate!!Total!!Male!!Worked full-time, year-round in the past 12 months!!With income!!$40,000 to $44,999',
'B19325_020E' : 'Estimate!!Total!!Male!!Worked full-time, year-round in the past 12 months!!With income!!$45,000 to $49,999',
'B19325_021E' : 'Estimate!!Total!!Male!!Worked full-time, year-round in the past 12 months!!With income!!$50,000 to $54,999',
'B19325_022E' : 'Estimate!!Total!!Male!!Worked full-time, year-round in the past 12 months!!With income!!$55,000 to $64,999',
'B19325_023E' : 'Estimate!!Total!!Male!!Worked full-time, year-round in the past 12 months!!With income!!$65,000 to $74,999',
'B19325_024E' : 'Estimate!!Total!!Male!!Worked full-time, year-round in the past 12 months!!With income!!$75,000 to $99,999',
'B19325_025E' : 'Estimate!!Total!!Male!!Worked full-time, year-round in the past 12 months!!With income!!$100,000 or more',
'B19325_053E' : 'Estimate!!Total!!Female!!Worked full-time, year-round in the past 12 months!!With income!!$1 to $2,499 or loss',
'B19325_054E' : 'Estimate!!Total!!Female!!Worked full-time, year-round in the past 12 months!!With income!!$2,500 to $4,999',
'B19325_055E' : 'Estimate!!Total!!Female!!Worked full-time, year-round in the past 12 months!!With income!!$5,000 to $7,499',
'B19325_056E' : 'Estimate!!Total!!Female!!Worked full-time, year-round in the past 12 months!!With income!!$7,500 to $9,999',
'B19325_057E' : 'Estimate!!Total!!Female!!Worked full-time, year-round in the past 12 months!!With income!!$10,000 to $12,499',
'B19325_058E' : 'Estimate!!Total!!Female!!Worked full-time, year-round in the past 12 months!!With income!!$12,500 to $14,999',
'B19325_059E' : 'Estimate!!Total!!Female!!Worked full-time, year-round in the past 12 months!!With income!!$15,000 to $17,499',
'B19325_060E' : 'Estimate!!Total!!Female!!Worked full-time, year-round in the past 12 months!!With income!!$17,500 to $19,999',
'B19325_061E' : 'Estimate!!Total!!Female!!Worked full-time, year-round in the past 12 months!!With income!!$20,000 to $22,499',
'B19325_062E' : 'Estimate!!Total!!Female!!Worked full-time, year-round in the past 12 months!!With income!!$22,500 to $24,999',
'B19325_063E' : 'Estimate!!Total!!Female!!Worked full-time, year-round in the past 12 months!!With income!!$25,000 to $29,999',
'B19325_064E' : 'Estimate!!Total!!Female!!Worked full-time, year-round in the past 12 months!!With income!!$30,000 to $34,999',
'B19325_065E' : 'Estimate!!Total!!Female!!Worked full-time, year-round in the past 12 months!!With income!!$35,000 to $39,999',
'B19325_066E' : 'Estimate!!Total!!Female!!Worked full-time, year-round in the past 12 months!!With income!!$40,000 to $44,999',
'B19325_067E' : 'Estimate!!Total!!Female!!Worked full-time, year-round in the past 12 months!!With income!!$45,000 to $49,999',
'B19325_068E' : 'Estimate!!Total!!Female!!Worked full-time, year-round in the past 12 months!!With income!!$50,000 to $54,999',
'B19325_069E' : 'Estimate!!Total!!Female!!Worked full-time, year-round in the past 12 months!!With income!!$55,000 to $64,999',
'B19325_070E' : 'Estimate!!Total!!Female!!Worked full-time, year-round in the past 12 months!!With income!!$65,000 to $74,999',
'B19325_071E' : 'Estimate!!Total!!Female!!Worked full-time, year-round in the past 12 months!!With income!!$75,000 to $99,999',
'B19325_072E' : 'Estimate!!Total!!Female!!Worked full-time, year-round in the past 12 months!!With income!!$100,000 or more'}

In [61]:
r = requests.get('https://api.census.gov/data/2010/acs/acs5?get=NAME,B01001_002E,B01001_026E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,B03002_012E,B05002_002E,B05002_014E,B05002_015E,B19325_006E,B19325_007E,B19325_008E,B19325_009E,B19325_010E,B19325_011E,B19325_012E,B19325_013E,B19325_014E,B19325_015E,B19325_016E,B19325_017E,B19325_018E,B19325_019E,B19325_020E,B19325_021E,B19325_022E,B19325_023E,B19325_024E,B19325_025E,B19325_053E,B19325_054E,B19325_055E,B19325_056E,B19325_057E,B19325_058E,B19325_059E,B19325_060E,B19325_061E,B19325_062E,B19325_063E,B19325_064E,B19325_065E,B19325_066E,B19325_067E&for=place:*')

In [64]:
data1 = r.json()[1:]
schema1 = r.json()[0]

In [65]:
df = pd.DataFrame(data1)
df.columns = schema1
df.head()

,NAME,B01001_002E,B01001_026E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,...,B19325_060E,B19325_061E,B19325_062E,B19325_063E,B19325_064E,B19325_065E,B19325_066E,B19325_067E,state,place
0,"Abanda CDP, Alabama",21,22,33,10,0,0,0,0,0,...,0,0,0,0,0,0,0,0,01,00100
1,"Abbeville city, Alabama",1352,1388,1349,1058,0,275,0,51,7,...,39,0,43,34,37,19,14,9,01,00124
2,"Adamsville city, Alabama",2416,2183,2797,1617,0,23,0,79,83,...,74,46,22,59,82,89,15,42,01,00460
3,"Addison town, Alabama",455,459,872,0,0,0,0,0,42,...,0,28,7,7,0,0,42,0,01,00484
4,"Akron town, Alabama",193,320,149,342,0,0,0,0,22,...,0,11,3,6,0,5,11,10,01,00676

In [67]:
r2 = requests.get('https://api.census.gov/data/2010/acs/acs5?get=NAME,B19325_068E,B19325_069E,B19325_070E,B19325_071E,B19325_072E&for=place:*')

In [68]:
data2 = r2.json()[1:]
schema2 = r2.json()[0]

In [69]:
df2 = pd.DataFrame(data2)
df2.columns = schema2
df2.head()

,NAME,B19325_068E,B19325_069E,B19325_070E,B19325_071E,B19325_072E,state,place
0,"Abanda CDP, Alabama",0,0,0,0,0,01,00100
1,"Abbeville city, Alabama",0,26,0,0,0,01,00124
2,"Adamsville city, Alabama",57,30,24,0,0,01,00460
3,"Addison town, Alabama",0,0,0,0,0,01,00484
4,"Akron town, Alabama",0,0,0,0,0,01,00676

In [120]:
all_demo_data = df.merge(df2, left_on = 'NAME', right_on = 'NAME', how = 'outer')

In [121]:
all_demo_data

,NAME,B01001_002E,B01001_026E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,...,B19325_067E,state_x,place_x,B19325_068E,B19325_069E,B19325_070E,B19325_071E,B19325_072E,state_y,place_y
0,"Abanda CDP, Alabama",21,22,33,10,0,0,0,0,0,...,0,01,00100,0,0,0,0,0,01,00100
1,"Abbeville city, Alabama",1352,1388,1349,1058,0,275,0,51,7,...,9,01,00124,0,26,0,0,0,01,00124
2,"Adamsville city, Alabama",2416,2183,2797,1617,0,23,0,79,83,...,42,01,00460,57,30,24,0,0,01,00460
3,"Addison town, Alabama",455,459,872,0,0,0,0,0,42,...,0,01,00484,0,0,0,0,0,01,00484
4,"Akron town, Alabama",193,320,149,342,0,0,0,0,22,...,10,01,00676,0,0,0,0,0,01,00676
5,"Alabaster city, Alabama",14469,15081,23503,4274,105,261,0,1169,238,...,424,01,00820,454,333,215,353,112,01,00820
6,"Albertville city, Alabama",10213,10232,18880,575,34,138,35,660,123,...,38,01,00988,51,129,71,41,14,01,00988
7,"Alexander City city, Alabama",7063,7816,10287,4262,0,0,0,186,144,...,131,01,01132,26,184,63,92,60,01,01132
8,"Alexandria CDP, Alabama",1933,1812,3148,585,0,12,0,0,0,...,15,01,01180,0,13,15,23,0,01,01180
9,"Aliceville city, Alabama",1413,1688,581,2489,0,0,0,0,31,...,0,01,01228,26,0,37,0,0,01,01228
10,"Allgood town, Alabama",327,388,596,6,0,0,0,113,0,...,3,01,01396,0,0,0,6,0,01,01396
11,"Altoona town, Alabama",356,381,700,33,0,0,0,0,4,...,0,01,01660,0,4,0,3,0,01,01660
12,"Andalusia city, Alabama",4534,4464,6404,2118,0,188,0,127,161,...,52,01,01708,12,9,0,47,0,01,01708
13,"Anderson town, Alabama",174,180,298,0,56,0,0,0,0,...,0,01,01756,4,0,0,0,0,01,01756
14,"Anniston city, Alabama",10958,12339,10303,12542,7,168,0,122,155,...,65,01,01852,201,180,125,53,47,01,01852
15,"Arab city, Alabama",3615,4313,7726,0,32,42,0,3,125,...,165,01,02116,52,46,46,59,0,01,02116
16,"Ardmore town, Alabama",579,588,1145,19,0,0,3,0,0,...,8,01,02260,3,2,10,6,0,01,02260
17,"Argo town, Alabama",1784,1986,3727,0,0,23,0,5,15,...,55,01,02320,28,66,14,29,16,01,02320
18,"Ariton town, Alabama",437,558,771,200,0,0,0,0,24,...,5,01,02428,3,0,0,6,0,01,02428
19,"Arley town, Alabama",315,221,527,0,2,0,0,0,7,...,0,01,02500,0,0,0,0,0,01,02500
20,"Ashford town, Alabama",879,1052,1510,336,17,4,0,0,64,...,0,01,02836,55,5,8,0,0,01,02836
21,"Ashland town, Alabama",1106,1531,2152,454,0,0,0,31,0,...,7,01,02860,39,15,0,0,0,01,02860
22,"Ashville city, Alabama",924,1129,1443,600,0,0,7,3,0,...,12,01,02908,50,23,0,6,0,01,02908
23,"Athens city, Alabama",9269,11790,16025,4249,135,105,0,397,148,...,186,01,02956,92,154,60,151,91,01,02956
24,"Atmore city, Alabama",6214,3794,4397,5232,147,54,0,96,82,...,16,01,03004,7,36,15,27,29,01,03004
25,"Attalla city, Alabama",2928,3215,5314,714,115,0,0,0,0,...,47,01,03028,34,8,10,33,33,01,03028
26,"Auburn city, Alabama",25405,25652,38919,8580,152,2695,15,197,499,...,337,01,03076,307,328,243,349,218,01,03076
27,"Autaugaville town, Alabama",270,345,197,404,0,0,0,11,3,...,0,01,03220,3,0,3,4,3,01,03220
28,"Avon town, Alabama",192,249,423,0,18,0,0,0,0,...,0,01,03364,4,0,0,0,0,01,03364
29,"Axis CDP, Alabama",438,397,745,90,0,0,0,0,0,...,0,01,03508,0,0,38,0,0,01,03508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29484,"Cowley town, Wyoming",282,283,555,0,0,0,0,10,0,...,6,56,17645,2,10,6,2,0,56,17645
29485,"Crowheart CDP, Wyoming",101,68,92,0,50,0,0,0,27,...,0,56,18225,7,0,3,4,0,56,18225
29486,"Daniel CDP, Wyoming",51,35,86,0,0,0,0,0,0,...,0,56,18950,0,0,0,0,0,56,18950
29487,"Dayton town, Wyoming",515,368,620,0,161,0,0,0,102,...,13,56,19385,0,9,0,18,0,56,19385
29488,"Deaver town, Wyoming",98,89,170,6,0,11,0,0,0,...,0,56,19530,0,0,0,0,0,56,19530
29489,"Diamondville town, Wyoming",360,421,744,0,0,7,0,17,13,...,0,56,20110,0,4,10,4,5,56,20110
29490,"Dixon town, Wyoming",61,57,114,0,0,4,0,0,0,...,0,56,20690,0,4,0,0,0,56,20690
29491,"Douglas city, Wyoming",2852,3080,5552,0,144,0,7,91,138,...,71,56,21125,123,29,86,9,0,56,21125
29492,"Dubois town, Wyoming",400,466,824,0,0,28,0,0,14,...,12,56,21415,7,0,9,12,5,56,21415
29493,"East Thermopolis town, Wyoming",137,207,316,0,28,0,0,0,0,...,2,56,22720,0,0,0,2,0,56,22720
29494,"Eden CDP, Wyoming",161,90,251,0,0,0,0,0,0,...,14,56,23010,0,0,0,0,0,56,23010
29495,"Tallaboa comunidad, Puerto Rico",568,456,963,16,0,0,0,45,0,...,0,72,81413,0,0,0,0,0,72,81413
29496,"Tallaboa Alta comunidad, Puerto Rico",1215,1291,2213,86,0,0,0,207,0,...,0,72,81456,0,0,0,0,0,72,81456
29497,"Tibes comunidad, Puerto Rico",173,259,401,0,31,0,0,0,0,...,0,72,82055,0,0,0,0,0,72,82055
29498,"Tiburones comunidad, Puerto Rico",376,553,876,40,0,0,0,13,0,...,0,72,82125,0,0,0,0,0,72,82125
29499,"Tierras Nuevas Poniente comunidad, Puerto Rico",1393,1514,2652,32,0,0,0,223,0,...,0,72,82187,32,0,0,0,12,72,82187
29500,"Toa Alta zona urbana, Puerto Rico",1798,2011,1973,380,9,7,0,203,1237,...,0,72,82488,0,0,0,0,0,72,82488
29501,"Toa Baja zona urbana, Puerto Rico",798,1243,1171,482,0,0,0,102,286,...,0,72,82617,0,0,0,0,0,72,82617
29502,"Trujillo Alto zona urbana, Puerto Rico",24257,27661,37570,3456,80,113,0,3284,7415,...,191,72,83606,271,279,77,202,164,72,83606
29503,"Utuado zona urbana, Puerto Rico",4990,5015,8817,152,31,0,0,943,62,...,0,72,84509,0,0,0,0,0,72,84509
29504,"Vayas comunidad, Puerto Rico",267,269,480,26,0,0,0,30,0,...,0,72,85025,0,0,0,0,0,72,85025
29505,"V?zquez comunidad, Puerto Rico",953,824,1162,57,0,0,0,250,308,...,0,72,85111,0,0,0,0,0,72,85111
29506,"Vega Alta zona urbana, Puerto Rico",5384,6342,8688,1314,19,11,0,377,1317,...,33,72,85197,0,0,8,0,0,72,85197
29507,"Vega Baja zona urbana, Puerto Rico",13734,14793,26472,880,62,28,9,673,403,...,32,72,85326,54,25,0,49,14,72,85326
29508,"Vieques comunidad, Puerto Rico",1732,1871,644,1378,0,52,0,1529,0,...,0,72,85971,0,0,0,0,0,72,85971
29509,"Vieques zona urbana, Puerto Rico",1057,1163,1424,396,0,0,0,293,107,...,0,72,86014,0,0,0,0,0,72,86014
29510,"Villalba zona urbana, Puerto Rico",2224,2251,2947,105,0,0,0,1226,197,...,0,72,86831,0,0,0,0,0,72,86831
29511,"Yabucoa zona urbana, Puerto Rico",2788,3244,3630,540,38,0,0,352,1472,...,0,72,87863,0,12,9,0,0,72,87863
29512,"Yauco zona urbana, Puerto Rico",8724,9227,16233,401,159,7,0,788,363,...,7,72,88035,15,28,16,8,0,72,88035
29513,"Yaurel comunidad, Puerto Rico",542,730,177,193,0,0,0,100,802,...,0,72,88121,0,0,0,0,0,72,88121

In [122]:
all_demo_data['city_name'] = pd.np.where(all_demo_data.NAME.str.contains("city"),
                                                         all_demo_data.NAME.str.split("city"),
                                             pd.np.where(all_demo_data.NAME.str.contains("CDP"),
                                                         all_demo_data.NAME.str.split("CDP"),
                                             pd.np.where(all_demo_data.NAME.str.contains("town"),
                                                         all_demo_data.NAME.str.split("town"), 
                                                         "task")))

In [123]:
all_demo_data

,NAME,B01001_002E,B01001_026E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,...,state_x,place_x,B19325_068E,B19325_069E,B19325_070E,B19325_071E,B19325_072E,state_y,place_y,city_name
0,"Abanda CDP, Alabama",21,22,33,10,0,0,0,0,0,...,01,00100,0,0,0,0,0,01,00100,"[Abanda , , Alabama]"
1,"Abbeville city, Alabama",1352,1388,1349,1058,0,275,0,51,7,...,01,00124,0,26,0,0,0,01,00124,"[Abbeville , , Alabama]"
2,"Adamsville city, Alabama",2416,2183,2797,1617,0,23,0,79,83,...,01,00460,57,30,24,0,0,01,00460,"[Adamsville , , Alabama]"
3,"Addison town, Alabama",455,459,872,0,0,0,0,0,42,...,01,00484,0,0,0,0,0,01,00484,"[Addison , , Alabama]"
4,"Akron town, Alabama",193,320,149,342,0,0,0,0,22,...,01,00676,0,0,0,0,0,01,00676,"[Akron , , Alabama]"
5,"Alabaster city, Alabama",14469,15081,23503,4274,105,261,0,1169,238,...,01,00820,454,333,215,353,112,01,00820,"[Alabaster , , Alabama]"
6,"Albertville city, Alabama",10213,10232,18880,575,34,138,35,660,123,...,01,00988,51,129,71,41,14,01,00988,"[Albertville , , Alabama]"
7,"Alexander City city, Alabama",7063,7816,10287,4262,0,0,0,186,144,...,01,01132,26,184,63,92,60,01,01132,"[Alexander City , , Alabama]"
8,"Alexandria CDP, Alabama",1933,1812,3148,585,0,12,0,0,0,...,01,01180,0,13,15,23,0,01,01180,"[Alexandria , , Alabama]"
9,"Aliceville city, Alabama",1413,1688,581,2489,0,0,0,0,31,...,01,01228,26,0,37,0,0,01,01228,"[Aliceville , , Alabama]"
10,"Allgood town, Alabama",327,388,596,6,0,0,0,113,0,...,01,01396,0,0,0,6,0,01,01396,"[Allgood , , Alabama]"
11,"Altoona town, Alabama",356,381,700,33,0,0,0,0,4,...,01,01660,0,4,0,3,0,01,01660,"[Altoona , , Alabama]"
12,"Andalusia city, Alabama",4534,4464,6404,2118,0,188,0,127,161,...,01,01708,12,9,0,47,0,01,01708,"[Andalusia , , Alabama]"
13,"Anderson town, Alabama",174,180,298,0,56,0,0,0,0,...,01,01756,4,0,0,0,0,01,01756,"[Anderson , , Alabama]"
14,"Anniston city, Alabama",10958,12339,10303,12542,7,168,0,122,155,...,01,01852,201,180,125,53,47,01,01852,"[Anniston , , Alabama]"
15,"Arab city, Alabama",3615,4313,7726,0,32,42,0,3,125,...,01,02116,52,46,46,59,0,01,02116,"[Arab , , Alabama]"
16,"Ardmore town, Alabama",579,588,1145,19,0,0,3,0,0,...,01,02260,3,2,10,6,0,01,02260,"[Ardmore , , Alabama]"
17,"Argo town, Alabama",1784,1986,3727,0,0,23,0,5,15,...,01,02320,28,66,14,29,16,01,02320,"[Argo , , Alabama]"
18,"Ariton town, Alabama",437,558,771,200,0,0,0,0,24,...,01,02428,3,0,0,6,0,01,02428,"[Ariton , , Alabama]"
19,"Arley town, Alabama",315,221,527,0,2,0,0,0,7,...,01,02500,0,0,0,0,0,01,02500,"[Arley , , Alabama]"
20,"Ashford town, Alabama",879,1052,1510,336,17,4,0,0,64,...,01,02836,55,5,8,0,0,01,02836,"[Ashford , , Alabama]"
21,"Ashland town, Alabama",1106,1531,2152,454,0,0,0,31,0,...,01,02860,39,15,0,0,0,01,02860,"[Ashland , , Alabama]"
22,"Ashville city, Alabama",924,1129,1443,600,0,0,7,3,0,...,01,02908,50,23,0,6,0,01,02908,"[Ashville , , Alabama]"
23,"Athens city, Alabama",9269,11790,16025,4249,135,105,0,397,148,...,01,02956,92,154,60,151,91,01,02956,"[Athens , , Alabama]"
24,"Atmore city, Alabama",6214,3794,4397,5232,147,54,0,96,82,...,01,03004,7,36,15,27,29,01,03004,"[Atmore , , Alabama]"
25,"Attalla city, Alabama",2928,3215,5314,714,115,0,0,0,0,...,01,03028,34,8,10,33,33,01,03028,"[Attalla , , Alabama]"
26,"Auburn city, Alabama",25405,25652,38919,8580,152,2695,15,197,499,...,01,03076,307,328,243,349,218,01,03076,"[Auburn , , Alabama]"
27,"Autaugaville town, Alabama",270,345,197,404,0,0,0,11,3,...,01,03220,3,0,3,4,3,01,03220,"[Autaugaville , , Alabama]"
28,"Avon town, Alabama",192,249,423,0,18,0,0,0,0,...,01,03364,4,0,0,0,0,01,03364,"[Avon , , Alabama]"
29,"Axis CDP, Alabama",438,397,745,90,0,0,0,0,0,...,01,03508,0,0,38,0,0,01,03508,"[Axis , , Alabama]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29484,"Cowley town, Wyoming",282,283,555,0,0,0,0,10,0,...,56,17645,2,10,6,2,0,56,17645,"[Cowley , , Wyoming]"
29485,"Crowheart CDP, Wyoming",101,68,92,0,50,0,0,0,27,...,56,18225,7,0,3,4,0,56,18225,"[Crowheart , , Wyoming]"
29486,"Daniel CDP, Wyoming",51,35,86,0,0,0,0,0,0,...,56,18950,0,0,0,0,0,56,18950,"[Daniel , , Wyoming]"
29487,"Dayton town, Wyoming",515,368,620,0,161,0,0,0,102,...,56,19385,0,9,0,18,0,56,19385,"[Dayton , , Wyoming]"
29488,"Deaver town, Wyoming",98,89,170,6,0,11,0,0,0,...,56,19530,0,0,0,0,0,56,19530,"[Deaver , , Wyoming]"
29489,"Diamondville town, Wyoming",360,421,744,0,0,7,0,17,13,...,56,20110,0,4,10,4,5,56,20110,"[Diamondville , , Wyoming]"
29490,"Dixon town, Wyoming",61,57,114,0,0,4,0,0,0,...,56,20690,0,4,0,0,0,56,20690,"[Dixon , , Wyoming]"
29491,"Douglas city, Wyoming",2852,3080,5552,0,144,0,7,91,138,...,56,21125,123,29,86,9,0,56,21125,"[Douglas , , Wyoming]"
29492,"Dubois town, Wyoming",400,466,824,0,0,28,0,0,14,...,56,21415,7,0,9,12,5,56,21415,"[Dubois , , Wyoming]"
29493,"East Thermopolis town, Wyoming",137,207,316,0,28,0,0,0,0,...,56,22720,0,0,0,2,0,56,22720,"[East Thermopolis , , Wyoming]"
29494,"Eden CDP, Wyoming",161,90,251,0,0,0,0,0,0,...,56,23010,0,0,0,0,0,56,23010,"[Eden , , Wyoming]"
29495,"Tallaboa comunidad, Puerto Rico",568,456,963,16,0,0,0,45,0,...,72,81413,0,0,0,0,0,72,81413,task
29496,"Tallaboa Alta comunidad, Puerto Rico",1215,1291,2213,86,0,0,0,207,0,...,72,81456,0,0,0,0,0,72,81456,task
29497,"Tibes comunidad, Puerto Rico",173,259,401,0,31,0,0,0,0,...,72,82055,0,0,0,0,0,72,82055,task
29498,"Tiburones comunidad, Puerto Rico",376,553,876,40,0,0,0,13,0,...,72,82125,0,0,0,0,0,72,82125,task
29499,"Tierras Nuevas Poniente comunidad, Puerto Rico",1393,1514,2652,32,0,0,0,223,0,...,72,82187,32,0,0,0,12,72,82187,task
29500,"Toa Alta zona urbana, Puerto Rico",1798,2011,1973,380,9,7,0,203,1237,...,72,82488,0,0,0,0,0,72,82488,task
29501,"Toa Baja zona urbana, Puerto Rico",798,1243,1171,482,0,0,0,102,286,...,72,82617,0,0,0,0,0,72,82617,task
29502,"Trujillo Alto zona urbana, Puerto Rico",24257,27661,37570,3456,80,113,0,3284,7415,...,72,83606,271,279,77,202,164,72,83606,task
29503,"Utuado zona urbana, Puerto Rico",4990,5015,8817,152,31,0,0,943,62,...,72,84509,0,0,0,0,0,72,84509,task
29504,"Vayas comunidad, Puerto Rico",267,269,480,26,0,0,0,30,0,...,72,85025,0,0,0,0,0,72,85025,task
29505,"V?zquez comunidad, Puerto Rico",953,824,1162,57,0,0,0,250,308,...,72,85111,0,0,0,0,0,72,85111,task
29506,"Vega Alta zona urbana, Puerto Rico",5384,6342,8688,1314,19,11,0,377,1317,...,72,85197,0,0,8,0,0,72,85197,task
29507,"Vega Baja zona urbana, Puerto Rico",13734,14793,26472,880,62,28,9,673,403,...,72,85326,54,25,0,49,14,72,85326,task
29508,"Vieques comunidad, Puerto Rico",1732,1871,644,1378,0,52,0,1529,0,...,72,85971,0,0,0,0,0,72,85971,task
29509,"Vieques zona urbana, Puerto Rico",1057,1163,1424,396,0,0,0,293,107,...,72,86014,0,0,0,0,0,72,86014,task
29510,"Villalba zona urbana, Puerto Rico",2224,2251,2947,105,0,0,0,1226,197,...,72,86831,0,0,0,0,0,72,86831,task
29511,"Yabucoa zona urbana, Puerto Rico",2788,3244,3630,540,38,0,0,352,1472,...,72,87863,0,12,9,0,0,72,87863,task
29512,"Yauco zona urbana, Puerto Rico",8724,9227,16233,401,159,7,0,788,363,...,72,88035,15,28,16,8,0,72,88035,task
29513,"Yaurel comunidad, Puerto Rico",542,730,177,193,0,0,0,100,802,...,72,88121,0,0,0,0,0,72,88121,task

In [124]:
all_demo_data['state_name'] = all_demo_data['city_name'].str[1]

In [125]:
all_demo_data['city_name'] = all_demo_data['city_name'].str[0]

In [126]:
#all_demo_data['city_name'] = all_demo_data['city_name'].str.replace('[','')

In [127]:
all_demo_data['state_name'] = all_demo_data['state_name'].str.replace(',','')

In [128]:
all_demo_data['state_name'] = all_demo_data['state_name'].str.lower()
all_demo_data['city_name'] = all_demo_data['city_name'].str.lower()

In [129]:
all_demo_data['city_state'] = all_demo_data['city_name'] + '_' + all_demo_data['state_name']

In [130]:
all_demo_data['city_state'] = all_demo_data['city_state'].str.replace(' ','')

In [140]:
all_demo_data.columns

Index(['NAME', 'B01001_002E', 'B01001_026E', 'B02001_002E', 'B02001_003E',
       'B02001_004E', 'B02001_005E', 'B02001_006E', 'B02001_007E',
       'B02001_008E', 'B03002_012E', 'B05002_002E', 'B05002_014E',
       'B05002_015E', 'B19325_006E', 'B19325_007E', 'B19325_008E',
       'B19325_009E', 'B19325_010E', 'B19325_011E', 'B19325_012E',
       'B19325_013E', 'B19325_014E', 'B19325_015E', 'B19325_016E',
       'B19325_017E', 'B19325_018E', 'B19325_019E', 'B19325_020E',
       'B19325_021E', 'B19325_022E', 'B19325_023E', 'B19325_024E',
       'B19325_025E', 'B19325_053E', 'B19325_054E', 'B19325_055E',
       'B19325_056E', 'B19325_057E', 'B19325_058E', 'B19325_059E',
       'B19325_060E', 'B19325_061E', 'B19325_062E', 'B19325_063E',
       'B19325_064E', 'B19325_065E', 'B19325_066E', 'B19325_067E', 'state_x',
       'place_x', 'B19325_068E', 'B19325_069E', 'B19325_070E', 'B19325_071E',
       'B19325_072E', 'state_y', 'place_y', 'city_name', 'state_name',
       'city_state'],
      dtype='object')

In [146]:
new_columns = ['NAME','total_men','total_women','total_white','total_black','total_native','total_asian',
                        'total_hawaiin','total_other','total_two_or_more_races','total_latino','total_native_born',
                        'total_foreign_born_naturalized','total_foreign_born_non_citizen','total_men_earning_2499_or_less',
                        'total_men_earning_2500_4999','total_men_earning_5000_7499','total_men_earning_7500_9999',
                        'total_men_earning_10000_12999','total_men_earning_12500_14999','total_men_earning_15000_17499',
                        'total_men_earning_17500,19999','total_men_earning_20000_22499','total_men_earning_22500_24999',
                        'total_men_earning_25000_29999','total_men_earning_30000_34999','total_men_earning_35000_39999',
                        'total_men_earning_40000_44999','total_men_earning_45000_49999','total_men_earning_50000_54999',
                        'total_men_earning_55000_64999','total_men_earning_65000_74999','total_men_earning_75000_99999',
                        'total_men_earning_100000_plus','total_women_earning_2499_or_less',
                        'total_women_earning_2500_4999','total_women_earning_5000_7499','total_women_earning_7500_9999',
                        'total_women_earning_10000_12999','total_women_earning_12500_14999','total_women_earning_15000_17499',
                        'total_women_earning_17500,19999','total_women_earning_20000_22499','total_women_earning_22500_24999',
                        'total_women_earning_25000_29999','total_women_earning_30000_34999','total_women_earning_35000_39999',
                        'state_x','place_x','total_women_earning_40000_44999','total_women_earning_45000_49999',
                        'total_women_earning_50000_54999','total_women_earning_55000_64999','total_women_earning_65000_74999',
                        'total_women_earning_75000_99999','total_women_earning_100000_plus','state', 'place', 
                        'city_name', 'state_name','city_state']

In [147]:
all_demo_data.columns = new_columns

In [148]:
all_demo_data

,NAME,total_men,total_women,total_white,total_black,total_native,total_asian,total_hawaiin,total_other,total_two_or_more_races,...,total_women_earning_50000_54999,total_women_earning_55000_64999,total_women_earning_65000_74999,total_women_earning_75000_99999,total_women_earning_100000_plus,state,place,city_name,state_name,city_state
0,"Abanda CDP, Alabama",21,22,33,10,0,0,0,0,0,...,0,0,0,0,0,01,00100,abanda,alabama,abanda_alabama
1,"Abbeville city, Alabama",1352,1388,1349,1058,0,275,0,51,7,...,0,26,0,0,0,01,00124,abbeville,alabama,abbeville_alabama
2,"Adamsville city, Alabama",2416,2183,2797,1617,0,23,0,79,83,...,57,30,24,0,0,01,00460,adamsville,alabama,adamsville_alabama
3,"Addison town, Alabama",455,459,872,0,0,0,0,0,42,...,0,0,0,0,0,01,00484,addison,alabama,addison_alabama
4,"Akron town, Alabama",193,320,149,342,0,0,0,0,22,...,0,0,0,0,0,01,00676,akron,alabama,akron_alabama
5,"Alabaster city, Alabama",14469,15081,23503,4274,105,261,0,1169,238,...,454,333,215,353,112,01,00820,alabaster,alabama,alabaster_alabama
6,"Albertville city, Alabama",10213,10232,18880,575,34,138,35,660,123,...,51,129,71,41,14,01,00988,albertville,alabama,albertville_alabama
7,"Alexander City city, Alabama",7063,7816,10287,4262,0,0,0,186,144,...,26,184,63,92,60,01,01132,alexander city,alabama,alexandercity_alabama
8,"Alexandria CDP, Alabama",1933,1812,3148,585,0,12,0,0,0,...,0,13,15,23,0,01,01180,alexandria,alabama,alexandria_alabama
9,"Aliceville city, Alabama",1413,1688,581,2489,0,0,0,0,31,...,26,0,37,0,0,01,01228,aliceville,alabama,aliceville_alabama
10,"Allgood town, Alabama",327,388,596,6,0,0,0,113,0,...,0,0,0,6,0,01,01396,allgood,alabama,allgood_alabama
11,"Altoona town, Alabama",356,381,700,33,0,0,0,0,4,...,0,4,0,3,0,01,01660,altoona,alabama,altoona_alabama
12,"Andalusia city, Alabama",4534,4464,6404,2118,0,188,0,127,161,...,12,9,0,47,0,01,01708,andalusia,alabama,andalusia_alabama
13,"Anderson town, Alabama",174,180,298,0,56,0,0,0,0,...,4,0,0,0,0,01,01756,anderson,alabama,anderson_alabama
14,"Anniston city, Alabama",10958,12339,10303,12542,7,168,0,122,155,...,201,180,125,53,47,01,01852,anniston,alabama,anniston_alabama
15,"Arab city, Alabama",3615,4313,7726,0,32,42,0,3,125,...,52,46,46,59,0,01,02116,arab,alabama,arab_alabama
16,"Ardmore town, Alabama",579,588,1145,19,0,0,3,0,0,...,3,2,10,6,0,01,02260,ardmore,alabama,ardmore_alabama
17,"Argo town, Alabama",1784,1986,3727,0,0,23,0,5,15,...,28,66,14,29,16,01,02320,argo,alabama,argo_alabama
18,"Ariton town, Alabama",437,558,771,200,0,0,0,0,24,...,3,0,0,6,0,01,02428,ariton,alabama,ariton_alabama
19,"Arley town, Alabama",315,221,527,0,2,0,0,0,7,...,0,0,0,0,0,01,02500,arley,alabama,arley_alabama
20,"Ashford town, Alabama",879,1052,1510,336,17,4,0,0,64,...,55,5,8,0,0,01,02836,ashford,alabama,ashford_alabama
21,"Ashland town, Alabama",1106,1531,2152,454,0,0,0,31,0,...,39,15,0,0,0,01,02860,ashland,alabama,ashland_alabama
22,"Ashville city, Alabama",924,1129,1443,600,0,0,7,3,0,...,50,23,0,6,0,01,02908,ashville,alabama,ashville_alabama
23,"Athens city, Alabama",9269,11790,16025,4249,135,105,0,397,148,...,92,154,60,151,91,01,02956,athens,alabama,athens_alabama
24,"Atmore city, Alabama",6214,3794,4397,5232,147,54,0,96,82,...,7,36,15,27,29,01,03004,atmore,alabama,atmore_alabama
25,"Attalla city, Alabama",2928,3215,5314,714,115,0,0,0,0,...,34,8,10,33,33,01,03028,attalla,alabama,attalla_alabama
26,"Auburn city, Alabama",25405,25652,38919,8580,152,2695,15,197,499,...,307,328,243,349,218,01,03076,auburn,alabama,auburn_alabama
27,"Autaugaville town, Alabama",270,345,197,404,0,0,0,11,3,...,3,0,3,4,3,01,03220,autaugaville,alabama,autaugaville_alabama
28,"Avon town, Alabama",192,249,423,0,18,0,0,0,0,...,4,0,0,0,0,01,03364,avon,alabama,avon_alabama
29,"Axis CDP, Alabama",438,397,745,90,0,0,0,0,0,...,0,0,38,0,0,01,03508,axis,alabama,axis_alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29484,"Cowley town, Wyoming",282,283,555,0,0,0,0,10,0,...,2,10,6,2,0,56,17645,cowley,wyoming,cowley_wyoming
29485,"Crowheart CDP, Wyoming",101,68,92,0,50,0,0,0,27,...,7,0,3,4,0,56,18225,crowheart,wyoming,crowheart_wyoming
29486,"Daniel CDP, Wyoming",51,35,86,0,0,0,0,0,0,...,0,0,0,0,0,56,18950,daniel,wyoming,daniel_wyoming
29487,"Dayton town, Wyoming",515,368,620,0,161,0,0,0,102,...,0,9,0,18,0,56,19385,dayton,wyoming,dayton_wyoming
29488,"Deaver town, Wyoming",98,89,170,6,0,11,0,0,0,...,0,0,0,0,0,56,19530,deaver,wyoming,deaver_wyoming
29489,"Diamondville town, Wyoming",360,421,744,0,0,7,0,17,13,...,0,4,10,4,5,56,20110,diamondville,wyoming,diamondville_wyoming
29490,"Dixon town, Wyoming",61,57,114,0,0,4,0,0,0,...,0,4,0,0,0,56,20690,dixon,wyoming,dixon_wyoming
29491,"Douglas city, Wyoming",2852,3080,5552,0,144,0,7,91,138,...,123,29,86,9,0,56,21125,douglas,wyoming,douglas_wyoming
29492,"Dubois town, Wyoming",400,466,824,0,0,28,0,0,14,...,7,0,9,12,5,56,21415,dubois,wyoming,dubois_wyoming
29493,"East Thermopolis town, Wyoming",137,207,316,0,28,0,0,0,0,...,0,0,0,2,0,56,22720,east thermopolis,wyoming,eastthermopolis_wyoming
29494,"Eden CDP, Wyoming",161,90,251,0,0,0,0,0,0,...,0,0,0,0,0,56,23010,eden,wyoming,eden_wyoming
29495,"Tallaboa comunidad, Puerto Rico",568,456,963,16,0,0,0,45,0,...,0,0,0,0,0,72,81413,t,a,t_a
29496,"Tallaboa Alta comunidad, Puerto Rico",1215,1291,2213,86,0,0,0,207,0,...,0,0,0,0,0,72,81456,t,a,t_a
29497,"Tibes comunidad, Puerto Rico",173,259,401,0,31,0,0,0,0,...,0,0,0,0,0,72,82055,t,a,t_a
29498,"Tiburones comunidad, Puerto Rico",376,553,876,40,0,0,0,13,0,...,0,0,0,0,0,72,82125,t,a,t_a
29499,"Tierras Nuevas Poniente comunidad, Puerto Rico",1393,1514,2652,32,0,0,0,223,0,...,32,0,0,0,12,72,82187,t,a,t_a
29500,"Toa Alta zona urbana, Puerto Rico",1798,2011,1973,380,9,7,0,203,1237,...,0,0,0,0,0,72,82488,t,a,t_a
29501,"Toa Baja zona urbana, Puerto Rico",798,1243,1171,482,0,0,0,102,286,...,0,0,0,0,0,72,82617,t,a,t_a
29502,"Trujillo Alto zona urbana, Puerto Rico",24257,27661,37570,3456,80,113,0,3284,7415,...,271,279,77,202,164,72,83606,t,a,t_a
29503,"Utuado zona urbana, Puerto Rico",4990,5015,8817,152,31,0,0,943,62,...,0,0,0,0,0,72,84509,t,a,t_a
29504,"Vayas comunidad, Puerto Rico",267,269,480,26,0,0,0,30,0,...,0,0,0,0,0,72,85025,t,a,t_a
29505,"V?zquez comunidad, Puerto Rico",953,824,1162,57,0,0,0,250,308,...,0,0,0,0,0,72,85111,t,a,t_a
29506,"Vega Alta zona urbana, Puerto Rico",5384,6342,8688,1314,19,11,0,377,1317,...,0,0,8,0,0,72,85197,t,a,t_a
29507,"Vega Baja zona urbana, Puerto Rico",13734,14793,26472,880,62,28,9,673,403,...,54,25,0,49,14,72,85326,t,a,t_a
29508,"Vieques comunidad, Puerto Rico",1732,1871,644,1378,0,52,0,1529,0,...,0,0,0,0,0,72,85971,t,a,t_a
29509,"Vieques zona urbana, Puerto Rico",1057,1163,1424,396,0,0,0,293,107,...,0,0,0,0,0,72,86014,t,a,t_a
29510,"Villalba zona urbana, Puerto Rico",2224,2251,2947,105,0,0,0,1226,197,...,0,0,0,0,0,72,86831,t,a,t_a
29511,"Yabucoa zona urbana, Puerto Rico",2788,3244,3630,540,38,0,0,352,1472,...,0,12,9,0,0,72,87863,t,a,t_a
29512,"Yauco zona urbana, Puerto Rico",8724,9227,16233,401,159,7,0,788,363,...,15,28,16,8,0,72,88035,t,a,t_a
29513,"Yaurel comunidad, Puerto Rico",542,730,177,193,0,0,0,100,802,...,0,0,0,0,0,72,88121,t,a,t_a

In [149]:
all_demo_data.to_csv('2012_demo_data.csv')