In [25]:
import pandas as pd
import numpy as np

# Get Datasets

## Patents

In [26]:
cities = pd.read_csv('Patents_Data/cities_with_scores.csv')

In [27]:
cities.head()

,Unnamed: 0,city_state,Year,Score1,Score2,Score5,Score6,Score7,City,State
0,0,New York_NY,1976,2.317268,2.718282,2.360150,2.718282,5.078432,New York,NY
1,1,Washington_DC,1976,1.558923,2.219101,1.738496,2.412346,4.150842,Washington,DC
2,2,Pittsburgh_PA,1976,2.718282,2.425776,2.564047,2.369092,4.933139,Pittsburgh,PA
3,3,Chicago_IL,1976,2.639930,2.393199,2.560876,2.358395,4.919271,Chicago,IL
4,4,Stamford_CT,1976,2.167678,2.186224,2.135113,2.301236,4.436350,Stamford,CT

In [28]:
cities.shape

(38573, 10)

In [29]:
cities_2002 = cities.loc[cities['Year']==2002]

In [30]:
cities_2002.shape

(986, 10)

In [31]:
cities_2002['city_state'] = cities_2002['city_state'].str.replace(' ','')
cities_2002['city_state'] = cities_2002['city_state'].str.replace(',','')
cities_2002['city_state'] = cities_2002['city_state'].str.replace('.','')

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [32]:
cities_2002['city_state'] = cities_2002['city_state'].str.lower()

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

## SBIR

In [33]:
sbir = pd.read_csv('Regulation_Data/SBIR/clean_SBIR/clean_sbir_2002.csv')

In [34]:
sbir.head()

,Unnamed: 0,City_State,Award Mean,Award Sum,Company Count,City,State
0,0,acton_ma,98918.000000,98918,1,Acton,MA
1,30,addison_tx,84080.500000,168161,2,Addison,TX
2,48,agoura hills_ca,283333.333333,850000,3,Agoura hills,CA
3,57,akron_oh,242749.250000,1941994,8,Akron,OH
4,96,alachua_fl,243256.375000,1946051,8,Alachua,FL

In [35]:
sbir.shape

(801, 7)

In [36]:
sbir['City_State'] = sbir['City_State'].str.replace(' ','')
sbir['City_State'] = sbir['City_State'].str.replace(',','')
sbir['City_State'] = sbir['City_State'].str.replace('.','')

In [37]:
sbir['City_State'] = sbir['City_State'].str.lower()

## Econ

In [38]:
econ = pd.read_csv('econ_data/2002_creative_class.csv')

In [39]:
econ.head()

,Unnamed: 0,city_state,creative_employees,regular_employees,creative_establishments,regular_establishments
0,0,abbeville_al,0.0,280.0,6.0,141.0
1,1,abbeville_ga,0.0,0.0,0.0,0.0
2,2,abbeville_la,236.0,3098.0,206.0,848.0
3,3,abbeville_sc,0.0,898.0,0.0,260.0
4,4,aberdeenprovingground_md,0.0,0.0,0.0,0.0

In [40]:
econ['city_state'] = econ['city_state'].str.replace(' ','')

In [41]:
econ['city_state'] = econ['city_state'].str.replace('.','')
econ['city_state'] = econ['city_state'].str.replace(',','')

In [42]:
econ['city_state'] = econ['city_state'].str.lower()

In [43]:
econ['percent_creative_class'] = (econ['creative_employees']/(econ['creative_employees']+econ['regular_employees']))*100

## Demographics

# Begin Joins

In [44]:
#sbir with patents data
sbir_cities = cities_2002.merge(sbir, left_on = 'city_state', right_on = 'City_State', how = 'left')

In [45]:
sbir_creative_cities = sbir_cities.merge(econ,left_on = 'city_state', right_on = 'city_state', how = 'left')

In [46]:
sbir_creative_cities.columns

Index(['Unnamed: 0_x', 'city_state', 'Year', 'Score1', 'Score2', 'Score5',
       'Score6', 'Score7', 'City_x', 'State_x', 'Unnamed: 0_y', 'City_State',
       'Award Mean', 'Award Sum', 'Company Count', 'City_y', 'State_y',
       'Unnamed: 0', 'creative_employees', 'regular_employees',
       'creative_establishments', 'regular_establishments',
       'percent_creative_class'],
      dtype='object')

In [47]:
sbir_creative_cities[~sbir_creative_cities['creative_establishments'].isnull()].shape

(778, 23)

In [48]:
sbir_creative_cities.to_csv('sbir_creative_cities_2002.csv')