In [1]:
import pandas as pd
import requests

In [2]:
#collect the census data via api call
_1997 = requests.get('https://api.census.gov/data/1997/ewks?get=GEO_TTL,NAICS1997_TTL,EMP,ESTAB,OPTAX&for=place:*&NAICS1997=*')

In [3]:
#organize call into data and schema
data = _1997.json()[1:]
schema = _1997.json()[0]

In [4]:
#create a dataframe out of the data
df = pd.DataFrame(data)

In [5]:
#Set the schema as the columns of the dataframe
df.columns = schema

In [6]:
df.head()

          GEO_TTL  NAICS1997_TTL    EMP ESTAB OPTAX NAICS1997 state  place
0        Arab, AL  Manufacturing   2661    26    99     31-33    01  02116
1  Birmingham, AL  Manufacturing  19057   382    99     31-33    01  07000
2        Boaz, AL  Manufacturing   4488    20    99     31-33    01  07912
3     Decatur, AL  Manufacturing   8495   124    99     31-33    01  20104
4      Dothan, AL  Manufacturing   8269   102    99     31-33    01  21184

In [33]:
#Write out as a CSV
df.to_csv('1997.csv')