## 1997 Processing

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
data_1997 = pd.read_csv('1997.csv')

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#engine = create_engine('sqlite://', echo=False)

In [4]:
data_1997.head()

,Unnamed: 0,GEO_TTL,NAICS1997_TTL,EMP,ESTAB,OPTAX,NAICS1997,state,place
0,0,"Arab, AL",Manufacturing,2661,26,99,31-33,1,2116
1,1,"Birmingham, AL",Manufacturing,19057,382,99,31-33,1,7000
2,2,"Boaz, AL",Manufacturing,4488,20,99,31-33,1,7912
3,3,"Decatur, AL",Manufacturing,8495,124,99,31-33,1,20104
4,4,"Dothan, AL",Manufacturing,8269,102,99,31-33,1,21184

In [5]:
states = pd.read_csv('states.csv')
states.head()

         name postal  fips
0     Alabama     AL     1
1      Alaska     AK     2
2     Arizona     AZ     4
3    Arkansas     AR     5
4  California     CA     6

In [6]:
states['fips'] = states['fips'].astype(str)
data_1997['state'] = data_1997['state'].astype(str)

states['fips'] = states.fips.str.zfill(2)
data_1997['state'] = data_1997.state.str.zfill(2)

states_cleaned = states[['postal','fips']]

states_cleaned.head()

  postal fips
0     AL   01
1     AK   02
2     AZ   04
3     AR   05
4     CA   06

In [7]:
data_1997_us = data_1997.merge(states_cleaned, left_on = 'state', right_on = 'fips', how = 'inner')

In [8]:
not_us_states = ['60','66','69','72','78']

data_1997_states = data_1997_us.loc[~data_1997_us['fips'].isin(not_us_states)]
data_1997_cities = data_1997_states.loc[~data_1997_states['GEO_TTL'].str.contains('Balance',na=False)]

In [9]:
tax_codes = ['99','A']
data_1997_cities_all_occupation_1 = data_1997_cities.loc[data_1997_cities['OPTAX'].isin(tax_codes)]
data_1997_cities_remove_dupes = data_1997_cities_all_occupation_1.drop_duplicates()
data_1997_cities_remove_dupes.head()

,Unnamed: 0,GEO_TTL,NAICS1997_TTL,EMP,ESTAB,OPTAX,NAICS1997,state,place,postal,fips
13060,655455,"Anniston, AL",Real estate,121,31,99,531,01,1852,AL,01
13061,655456,"Jacksonville, AL",Real estate,0,5,99,531,01,38272,AL,01
13063,655458,"Oxford, AL (Calhoun County Part)",Real estate,0,5,99,531,01,57576,AL,01
13064,655459,"Piedmont, AL (Calhoun County Part)",Real estate,0,1,99,531,01,59640,AL,01
13065,655691,"Oneonta, AL",Real estate,0,4,99,531,01,57000,AL,01

In [10]:
data_1997_cities_remove_dupes['city_name'] = data_1997_cities_remove_dupes.GEO_TTL.str.split(',')

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [11]:
data_1997_cities_remove_dupes['state_name_unclean'] = data_1997_cities_remove_dupes.city_name.str[1]

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [12]:
data_1997_cities_remove_dupes['city_name'] = data_1997_cities_remove_dupes.city_name.str[0]

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [13]:
data_1997_cities_remove_dupes['state_name_cleaned'] = data_1997_cities_remove_dupes.state_name_unclean.str[:3]

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [14]:
data_1997_cities_remove_dupes['fuck_this'] = data_1997_cities_remove_dupes['city_name'] + '_' + data_1997_cities_remove_dupes['state_name_cleaned']

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [15]:
data_1997_cities_remove_dupes

,Unnamed: 0,GEO_TTL,NAICS1997_TTL,EMP,ESTAB,OPTAX,NAICS1997,state,place,postal,fips,city_name,state_name_unclean,state_name_cleaned,fuck_this
13060,655455,"Anniston, AL",Real estate,121,31,99,531,01,1852,AL,01,Anniston,AL,AL,Anniston_ AL
13061,655456,"Jacksonville, AL",Real estate,0,5,99,531,01,38272,AL,01,Jacksonville,AL,AL,Jacksonville_ AL
13063,655458,"Oxford, AL (Calhoun County Part)",Real estate,0,5,99,531,01,57576,AL,01,Oxford,AL (Calhoun County Part),AL,Oxford_ AL
13064,655459,"Piedmont, AL (Calhoun County Part)",Real estate,0,1,99,531,01,59640,AL,01,Piedmont,AL (Calhoun County Part),AL,Piedmont_ AL
13065,655691,"Oneonta, AL",Real estate,0,4,99,531,01,57000,AL,01,Oneonta,AL,AL,Oneonta_ AL
13067,655693,"Adamsville, AL",Real estate,0,1,99,531,01,460,AL,01,Adamsville,AL,AL,Adamsville_ AL
13068,655694,"Bessemer, AL",Real estate,38,17,99,531,01,5980,AL,01,Bessemer,AL,AL,Bessemer_ AL
13069,655695,"Fairfield, AL",Real estate,0,4,99,531,01,25120,AL,01,Fairfield,AL,AL,Fairfield_ AL
13070,655696,"Fultondale, AL",Real estate,0,1,99,531,01,28552,AL,01,Fultondale,AL,AL,Fultondale_ AL
13071,655697,"Gardendale, AL",Real estate,36,10,99,531,01,29056,AL,01,Gardendale,AL,AL,Gardendale_ AL
13072,655698,"Homewood, AL",Real estate,355,41,99,531,01,35800,AL,01,Homewood,AL,AL,Homewood_ AL
13073,655699,"Hueytown, AL",Real estate,0,7,99,531,01,36448,AL,01,Hueytown,AL,AL,Hueytown_ AL
13074,655700,"Irondale, AL",Real estate,28,9,99,531,01,37864,AL,01,Irondale,AL,AL,Irondale_ AL
13075,655701,"Midfield, AL",Real estate,0,1,99,531,01,48376,AL,01,Midfield,AL,AL,Midfield_ AL
13076,655702,"Mountain Brook, AL",Real estate,190,48,99,531,01,51696,AL,01,Mountain Brook,AL,AL,Mountain Brook_ AL
13077,655703,"Pleasant Grove, AL",Real estate,0,3,99,531,01,61008,AL,01,Pleasant Grove,AL,AL,Pleasant Grove_ AL
13078,655704,"Tarrant, AL",Real estate,0,2,99,531,01,74976,AL,01,Tarrant,AL,AL,Tarrant_ AL
13079,655705,"Warrior, AL",Real estate,0,1,99,531,01,79944,AL,01,Warrior,AL,AL,Warrior_ AL
13081,655707,"Moody, AL",Real estate,0,3,99,531,01,51096,AL,01,Moody,AL,AL,Moody_ AL
13082,655708,"Pell City, AL",Real estate,22,11,99,531,01,58896,AL,01,Pell City,AL,AL,Pell City_ AL
13084,655710,"Alabaster, AL",Real estate,0,3,99,531,01,820,AL,01,Alabaster,AL,AL,Alabaster_ AL
13085,655711,"Columbiana, AL",Real estate,0,1,99,531,01,16768,AL,01,Columbiana,AL,AL,Columbiana_ AL
13086,655712,"Helena, AL",Real estate,0,2,99,531,01,34024,AL,01,Helena,AL,AL,Helena_ AL
13087,655713,"Montevallo, AL",Real estate,0,2,99,531,01,50312,AL,01,Montevallo,AL,AL,Montevallo_ AL
13088,655714,"Pelham, AL",Real estate,45,20,99,531,01,58848,AL,01,Pelham,AL,AL,Pelham_ AL
13090,655716,"Birmingham, AL (Jefferson County Part)",Real estate,0,175,99,531,01,7000,AL,01,Birmingham,AL (Jefferson County Part),AL,Birmingham_ AL
13091,655717,"Hoover, AL (Jefferson County Part)",Real estate,0,32,99,531,01,35896,AL,01,Hoover,AL (Jefferson County Part),AL,Hoover_ AL
13092,655718,"Leeds, AL (Jefferson County Part)",Real estate,12,6,99,531,01,41968,AL,01,Leeds,AL (Jefferson County Part),AL,Leeds_ AL
13093,655719,"Trussville, AL (Jefferson County Part)",Real estate,0,4,99,531,01,76944,AL,01,Trussville,AL (Jefferson County Part),AL,Trussville_ AL
13094,655720,"Vestavia Hills, AL (Jefferson County Part)",Real estate,0,32,99,531,01,78552,AL,01,Vestavia Hills,AL (Jefferson County Part),AL,Vestavia Hills_ AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1452780,1443153,"Washington, DC",One-hour photofinishing,0,12,A,812922,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452784,1443536,"Washington, DC",Parking lots & garages,2096,395,A,81293,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452788,1443928,"Washington, DC",Parking lots & garages,2096,395,A,812930,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452792,1444335,"Washington, DC",All other personal services,0,11,A,81299,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452796,1444751,"Washington, DC",All other personal services,0,11,A,812990,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452800,1445060,"Washington, DC",Dating services,0,1,A,8129902,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452804,1445198,"Washington, DC",All other miscellaneous personal services,0,10,A,8129909,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452808,1445302,"Washington, DC",Religious/grantmaking/civic/professional & sim...,36416,1946,A,813,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452812,1445308,"Washington, DC",Grantmaking & giving services,3295,247,A,8132,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452816,1445312,"Washington, DC",Grantmaking & giving services,3295,247,A,81321,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452820,1445315,"Washington, DC",Grantmaking foundations,1572,152,A,813211,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452824,1445317,"Washington, DC",Voluntary health organizations,756,38,A,813212,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452828,1445319,"Washington, DC",Other grantmaking & giving services,967,57,A,813219,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452832,1445322,"Washington, DC",Social advocacy organizations,7166,418,A,8133,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452836,1445326,"Washington, DC",Social advocacy organizations,7166,418,A,81331,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452840,1445329,"Washington, DC",Human rights organizations,2216,113,A,813311,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452844,1445332,"Washington, DC","Environment, conservation, & wildlife organiza...",1738,83,A,813312,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452848,1445336,"Washington, DC",Other social advocacy organizations,3212,222,A,813319,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452852,1445340,"Washington, DC",Civic & social organizations,3010,188,A,8134,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452856,1445344,"Washington, DC",Civic & social organizations,3010,188,A,81341,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452860,1445348,"Washington, DC",Civic & social organizations,3010,188,A,813410,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452864,1445352,"Washington, DC","Civic & social organizations, with restaurants...",1794,53,A,8134101,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452868,1445356,"Washington, DC","Civic & social organizations, without restaura...",1216,135,A,8134102,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452872,1445361,"Washington, DC",Business/professional/labor/political/& simila...,22945,1093,A,8139,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452876,1445366,"Washington, DC",Business associations,15174,534,A,81391,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452880,1445370,"Washington, DC",Business associations,15174,534,A,813910,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452884,1445374,"Washington, DC",Professional organizations,5983,297,A,81392,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452888,1445378,"Washington, DC",Professional organizations,5983,297,A,813920,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452892,1445383,"Washington, DC","Other similar organizations (exc bus, prof, la...",1788,262,A,81399,11,50000,DC,11,Washington,DC,DC,Washington_ DC
1452896,1445389,"Washington, DC","Other similar organizations (exc bus, prof, la...",1788,262,A,813990,11,50000,DC,11,Washington,DC,DC,Washington_ DC

In [16]:
creative_class = ['Heavy and civil engineering construction',
'Veneer, plywood, and engineered wood product manufacturing',
'Pharmaceutical and medicine manufacturing',
'Electronic computer manufacturing',
'Computer terminal and other computer peripheral equipment manufacturing',
'Navigational, measuring, electromedical, and control instruments manufacturing',
'Electromedical and electrotherapeutic apparatus manufacturing',
'Surgical and medical instrument manufacturing',
'Computer and computer peripheral equipment and software merchant wholesalers',
'Computer and computer peripheral equipment merchant wholesalers',
'Surgical, medical, and hospital supplies merchant wholesalers',
'Direct life, health, and medical insurance carriers',
'Direct health and medical insurance carriers',
'Direct insurance (except life, health, and medical) carriers',
'Offices of lawyers',
'Legal aid societies and similar legal services',
'Other legal services',
'All other legal services',
'Accounting, tax preparation, bookkeeping, and payroll services',
'Other accounting services',
'Architectural, engineering, and related services',
'Custom computer programming services',
'Other computer related services',
'Scientific research and development services',
'Research and development in the physical, engineering, and life sciences',
'Research and development in the physical, engineering, and life sciences',
'Research and development in biotechnology',
'Research and development in the physical, engineering, and life sciences (except biotechnology)',
'Research and development in the physical and engineering sciences',
'Research and development in other life sciences',
'Research and development in the social sciences and humanities',
'Marketing research and public opinion polling',
'Economic or industrial planning or development organization',
'Business schools and computer and management training',
'Professional and management development training',
'Art, drama, and music schools',
'Family planning centers',
'HMO medical centers',
'Freestanding ambulatory surgical and emergency centers',
'General medical and surgical hospitals',
'General medical and surgical hospitals, government',
'General medical and surgical hospitals, except government',
'Residential intellectual and developmental disability, mental health, and substance abuse facilities',
'Residential intellectual and developmental disability facilities',
'Musical groups and artists',
'Symphony orchestras and chamber music organizations',
'Other music groups and artists',
'Agents and managers for artists, athletes, entertainers, and other public figures',
'Independent artists, writers, and performers']

In [17]:
data_1997_cities_remove_dupes['class'] = pd.np.where(
     data_1997_cities_remove_dupes['NAICS1997_TTL'].isin(creative_class), 
    '1_creative',  
    pd.np.where(~data_1997_cities_remove_dupes['NAICS1997_TTL'].isin(creative_class), 
    '2_regular','3_none'
     ))

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
data_1997 = data_1997_cities_remove_dupes.reset_index()

In [19]:
data_1997 = data_1997[['fuck_this','EMP','ESTAB','class']]

In [20]:
econ_data_1997 = data_1997.groupby(['fuck_this','class']).sum().unstack()

In [21]:
econ_data_final = econ_data_1997.reset_index()
econ_data_final.columns = ['city_state','creative_employees','regular_employees',
                           'creative_establishments','regular_establishments']

In [22]:
#econ_data_final = econ_data_final.fillna(0)

In [23]:
econ_data_final['city_state'] = econ_data_final['city_state'].str.replace(' ','')
econ_data_final['city_state'] = econ_data_final['city_state'].str.replace('.','')
econ_data_final['city_state'] = econ_data_final['city_state'].str.replace(',','')
econ_data_final['city_state'] = econ_data_final['city_state'].str.lower()

In [24]:
econ_data_final.to_csv('1997_creative_class.csv')