In [1]:
import pandas as pd 
import numpy as np

In [2]:
#read in the prepared 2002 data that was semi processed using spark
_2002 = pd.read_csv('_2002_updated_pd.csv')

In [3]:
_2002.head()

,Unnamed: 0,_c0,EMP,ESTAB,EMP_F,OPTAX,ESTAB_F,NAICS2002,state,place,NAICS2012_TTL,NAICS2012,GEO_TTL,state_2012,place_2012,fuck_this
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Meridianville CDP,1.0,48112.0,Meridianville _AL
1,1,14925.0,0.0,2.0,e,A,NaN,623.0,1.0,61008.0,Nursing and residential care facilities,623.0,Pleasant Grove city,1.0,61008.0,Pleasant Grove _AL
2,2,14926.0,0.0,2.0,e,T,NaN,623.0,1.0,61008.0,Nursing and residential care facilities,623.0,Pleasant Grove city,1.0,61008.0,Pleasant Grove _AL
3,3,14931.0,39.0,6.0,NaN,A,NaN,81.0,1.0,61008.0,Other services (except public administration),81.0,Pleasant Grove city,1.0,61008.0,Pleasant Grove _AL
4,4,14932.0,39.0,6.0,NaN,T,NaN,81.0,1.0,61008.0,Other services (except public administration),81.0,Pleasant Grove city,1.0,61008.0,Pleasant Grove _AL

In [4]:
#create a list of job tittles that would be a part of the creative class
creative_class = ['Heavy and civil engineering construction',
'Veneer, plywood, and engineered wood product manufacturing',
'Pharmaceutical and medicine manufacturing',
'Electronic computer manufacturing',
'Computer terminal and other computer peripheral equipment manufacturing',
'Navigational, measuring, electromedical, and control instruments manufacturing',
'Electromedical and electrotherapeutic apparatus manufacturing',
'Surgical and medical instrument manufacturing',
'Computer and computer peripheral equipment and software merchant wholesalers',
'Computer and computer peripheral equipment merchant wholesalers',
'Surgical, medical, and hospital supplies merchant wholesalers',
'Direct life, health, and medical insurance carriers',
'Direct health and medical insurance carriers',
'Direct insurance (except life, health, and medical) carriers',
'Offices of lawyers',
'Legal aid societies and similar legal services',
'Other legal services',
'All other legal services',
'Accounting, tax preparation, bookkeeping, and payroll services',
'Other accounting services',
'Architectural, engineering, and related services',
'Custom computer programming services',
'Other computer related services',
'Scientific research and development services',
'Research and development in the physical, engineering, and life sciences',
'Research and development in the physical, engineering, and life sciences',
'Research and development in biotechnology',
'Research and development in the physical, engineering, and life sciences (except biotechnology)',
'Research and development in the physical and engineering sciences',
'Research and development in other life sciences',
'Research and development in the social sciences and humanities',
'Marketing research and public opinion polling',
'Economic or industrial planning or development organization',
'Business schools and computer and management training',
'Professional and management development training',
'Art, drama, and music schools',
'Family planning centers',
'HMO medical centers',
'Freestanding ambulatory surgical and emergency centers',
'General medical and surgical hospitals',
'General medical and surgical hospitals, government',
'General medical and surgical hospitals, except government',
'Residential intellectual and developmental disability, mental health, and substance abuse facilities',
'Residential intellectual and developmental disability facilities',
'Musical groups and artists',
'Symphony orchestras and chamber music organizations',
'Other music groups and artists',
'Agents and managers for artists, athletes, entertainers, and other public figures',
'Independent artists, writers, and performers']

In [5]:
#case when clause to define which jobs and establishments would be labeled as creative
_2002['class'] = pd.np.where(
     _2002['NAICS2012_TTL'].isin(creative_class), 
    '1_creative',  
    pd.np.where(~_2002['NAICS2012_TTL'].isin(creative_class), 
    '2_regular','3_none'
     ))

In [6]:
#select columns of interest
_2002_data = _2002[['city_state_code','EMP','ESTAB','class']]

In [ ]:
#Groupby by and unstack by class
_2002_gb = _2002_data.groupby(['city_state_code','class']).sum().unstack()

In [8]:
#reset the index and rename the columns
_2002_gb = _2002_gb.reset_index()
_2002_gb.columns = ['city_state','creative_employees','regular_employees',
                           'creative_establishments','regular_establishments']

In [10]:
#clean city_state code of any extra characters and lower case the text
_2002_gb['city_state'] = _2002_gb['city_state'].str.replace(' ','')
_2002_gb['city_state'] = _2002_gb['city_state'].str.replace('.','')
_2002_gb['city_state'] = _2002_gb['city_state'].str.replace(',','')
_2002_gb['city_state'] = _2002_gb['city_state'].str.lower()

In [11]:
#write out the dataframe to csv
_2002_gb.to_csv('2002_creative_class.csv')