In [1]:
import pandas as pd
data_2012 = pd.read_csv('2012.csv')

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (4,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('sqlite://', echo=False)

In [4]:
data_2012.head()

,Unnamed: 0,EMP,ESTAB,NAICS2012_TTL,OPTAX,GEO_TTL,NAICS2012,state,place
0,0,874,63,Total for all sectors,99,"Ituau county, American Samoa",00,60,37700
1,1,4344,164,Total for all sectors,99,"Ma'oputasi county, American Samoa",00,60,51300
2,2,0,5,Total for all sectors,99,"Sa'ole county, American Samoa",00,60,67300
3,3,0,4,Total for all sectors,99,"Sua county, American Samoa",00,60,72100
4,4,0,1,Total for all sectors,99,"Vaifanua county, American Samoa",00,60,86500

In [5]:
!curl https://raw.githubusercontent.com/fitnr/addfips/master/addfips/data/states.csv?accessType = Download > states.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  1036  100  1036    0     0   3149      0 --:--:-- --:--:-- --:--:--  3158
curl: (6) Could not resolve host: =
curl: (6) Could not resolve host: Download

In [6]:
states = pd.read_csv('states.csv')

In [7]:
states.head()

         name postal  fips
0     Alabama     AL     1
1      Alaska     AK     2
2     Arizona     AZ     4
3    Arkansas     AR     5
4  California     CA     6

In [8]:
states['fips'] = states['fips'].astype(str)
data_2012['state'] = data_2012['state'].astype(str)

In [9]:
states['fips'] = states.fips.str.zfill(2)
data_2012['state'] = data_2012.state.str.zfill(2)

In [10]:
states_cleaned = states[['postal','fips']]

In [11]:
states_cleaned.head()

  postal fips
0     AL   01
1     AK   02
2     AZ   04
3     AR   05
4     CA   06

In [12]:
data_2012_us = data_2012.merge(states_cleaned, left_on = 'state', right_on = 'fips', how = 'inner')

In [13]:
data_2012_us.head()

,Unnamed: 0,EMP,ESTAB,NAICS2012_TTL,OPTAX,GEO_TTL,NAICS2012,state,place,postal,fips
0,0,874,63,Total for all sectors,99,"Ituau county, American Samoa",00,60,37700,AS,60
1,1,4344,164,Total for all sectors,99,"Ma'oputasi county, American Samoa",00,60,51300,AS,60
2,2,0,5,Total for all sectors,99,"Sa'ole county, American Samoa",00,60,67300,AS,60
3,3,0,4,Total for all sectors,99,"Sua county, American Samoa",00,60,72100,AS,60
4,4,0,1,Total for all sectors,99,"Vaifanua county, American Samoa",00,60,86500,AS,60

In [14]:
not_us_states = ['60','66','69','72','78']

In [15]:
data_2012_states = data_2012_us.loc[~data_2012_us['fips'].isin(not_us_states)]

In [16]:
data_2012_cities = data_2012_states[~data_2012_states['GEO_TTL'].str.contains('Balance')]

In [17]:
tax_codes = ['99','A']

In [18]:
data_2012_cities_all_occupation_1 = data_2012_cities.loc[data_2012_cities['OPTAX'].isin(tax_codes)]

In [19]:
data_2012_cities_remove_dupes = data_2012_cities_all_occupation_1.drop_duplicates()

In [20]:
data_2012_cities_remove_dupes.head()

,Unnamed: 0,EMP,ESTAB,NAICS2012_TTL,OPTAX,GEO_TTL,NAICS2012,state,place,postal,fips
9561,2752938,0,2,Industrial equipment rental and leasing,99,Brookside CDP,5324902,10,9850,DE,10
9562,2752939,0,2,Industrial equipment rental and leasing,99,Claymont CDP,5324902,10,15310,DE,10
9563,2752940,0,1,Industrial equipment rental and leasing,99,Edgemoor CDP,5324902,10,23240,DE,10
9564,2752941,0,1,Industrial equipment rental and leasing,99,Elsmere town,5324902,10,24540,DE,10
9565,2752942,0,1,Industrial equipment rental and leasing,99,Newark city,5324902,10,50670,DE,10

In [21]:
data_2012_cities_remove_dupes['city_name'] = pd.np.where(data_2012_cities_remove_dupes.GEO_TTL.str.contains("city"),
                                                         data_2012_cities_remove_dupes.GEO_TTL.str.split("city"),
                                             pd.np.where(data_2012_cities_remove_dupes.GEO_TTL.str.contains("CDP"),
                                                         data_2012_cities_remove_dupes.GEO_TTL.str.split("CDP"),
                                             pd.np.where(data_2012_cities_remove_dupes.GEO_TTL.str.contains("town"),
                                                         data_2012_cities_remove_dupes.GEO_TTL.str.split("town"), 
                                                         "task")))

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
data_2012_cities_remove_dupes['city_name'] = data_2012_cities_remove_dupes['city_name'].str[0]

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [23]:
data_2012_cities_remove_dupes['fuck_this'] = data_2012_cities_remove_dupes['city_name'] + '_' + data_2012_cities_remove_dupes['postal']

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [24]:
data_2012_cities_remove_dupes

,Unnamed: 0,EMP,ESTAB,NAICS2012_TTL,OPTAX,GEO_TTL,NAICS2012,state,place,postal,fips,city_name,fuck_this
9561,2752938,0,2,Industrial equipment rental and leasing,99,Brookside CDP,5324902,10,9850,DE,10,Brookside,Brookside _DE
9562,2752939,0,2,Industrial equipment rental and leasing,99,Claymont CDP,5324902,10,15310,DE,10,Claymont,Claymont _DE
9563,2752940,0,1,Industrial equipment rental and leasing,99,Edgemoor CDP,5324902,10,23240,DE,10,Edgemoor,Edgemoor _DE
9564,2752941,0,1,Industrial equipment rental and leasing,99,Elsmere town,5324902,10,24540,DE,10,Elsmere,Elsmere _DE
9565,2752942,0,1,Industrial equipment rental and leasing,99,Newark city,5324902,10,50670,DE,10,Newark,Newark _DE
9566,2752943,0,1,Industrial equipment rental and leasing,99,New Castle city,5324902,10,50800,DE,10,New Castle,New Castle _DE
9567,2752944,0,1,Industrial equipment rental and leasing,99,North Star CDP,5324902,10,52490,DE,10,North Star,North Star _DE
9569,2753202,0,1,Industrial equipment rental and leasing,99,Georgetown town,5324902,10,29090,DE,10,George,George_DE
9572,2755027,0,4,Lessors of nonfinancial intangible assets (exc...,99,Newark city,533,10,50670,DE,10,Newark,Newark _DE
9573,2755028,0,1,Lessors of nonfinancial intangible assets (exc...,99,Pike Creek CDP,533,10,56490,DE,10,Pike Creek,Pike Creek _DE
9574,2755029,66,43,Lessors of nonfinancial intangible assets (exc...,99,Wilmington city,533,10,77580,DE,10,Wilmington,Wilmington _DE
9576,2756289,0,4,Lessors of nonfinancial intangible assets (exc...,99,Newark city,5331,10,50670,DE,10,Newark,Newark _DE
9577,2756290,0,1,Lessors of nonfinancial intangible assets (exc...,99,Pike Creek CDP,5331,10,56490,DE,10,Pike Creek,Pike Creek _DE
9578,2756291,66,43,Lessors of nonfinancial intangible assets (exc...,99,Wilmington city,5331,10,77580,DE,10,Wilmington,Wilmington _DE
9580,2757551,0,4,Lessors of nonfinancial intangible assets (exc...,99,Newark city,53311,10,50670,DE,10,Newark,Newark _DE
9581,2757552,0,1,Lessors of nonfinancial intangible assets (exc...,99,Pike Creek CDP,53311,10,56490,DE,10,Pike Creek,Pike Creek _DE
9582,2757553,66,43,Lessors of nonfinancial intangible assets (exc...,99,Wilmington city,53311,10,77580,DE,10,Wilmington,Wilmington _DE
9584,2758813,0,4,Lessors of nonfinancial intangible assets (exc...,99,Newark city,533110,10,50670,DE,10,Newark,Newark _DE
9585,2758814,0,1,Lessors of nonfinancial intangible assets (exc...,99,Pike Creek CDP,533110,10,56490,DE,10,Pike Creek,Pike Creek _DE
9586,2758815,66,43,Lessors of nonfinancial intangible assets (exc...,99,Wilmington city,533110,10,77580,DE,10,Wilmington,Wilmington _DE
9589,2760209,0,4,Patent owners and lessors,99,Newark city,5331109,10,50670,DE,10,Newark,Newark _DE
9590,2760210,0,1,Patent owners and lessors,99,Pike Creek CDP,5331109,10,56490,DE,10,Pike Creek,Pike Creek _DE
9591,2760211,66,43,Patent owners and lessors,99,Wilmington city,5331109,10,77580,DE,10,Wilmington,Wilmington _DE
9593,2760558,0,1,"Professional, scientific, and technical services",A,Clayton town,54,10,15440,DE,10,Clayton,Clayton _DE
9595,2760560,39,10,"Professional, scientific, and technical services",A,Smyrna town,54,10,67310,DE,10,Smyrna,Smyrna _DE
9597,2760648,138,21,"Professional, scientific, and technical services",A,Milford city,54,10,47420,DE,10,Milford,Milford _DE
9599,2767921,0,8,"Professional, scientific, and technical services",A,Camden town,54,10,10760,DE,10,Camden,Camden _DE
9602,2767924,1129,160,"Professional, scientific, and technical services",A,Dover city,54,10,21200,DE,10,Dover,Dover _DE
9605,2767927,0,2,"Professional, scientific, and technical services",A,Harrington city,54,10,33120,DE,10,Harrington,Harrington _DE
9607,2767929,63,4,"Professional, scientific, and technical services",A,Highland Acres CDP,54,10,34810,DE,10,Highland Acres,Highland Acres _DE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6698337,6463798,168,18,Funeral homes and funeral services,A,Washington city,812210,11,50000,DC,11,Washington,Washington _DC
6698341,6478586,0,17,Funeral homes,A,Washington city,8122101,11,50000,DC,11,Washington,Washington _DC
6698345,6482374,0,1,Other funeral services,A,Washington city,8122104,11,50000,DC,11,Washington,Washington _DC
6698349,6488160,49,6,Cemeteries and crematories,A,Washington city,81222,11,50000,DC,11,Washington,Washington _DC
6698353,6494974,49,6,Cemeteries and crematories,A,Washington city,812220,11,50000,DC,11,Washington,Washington _DC
6698357,6508100,833,143,Drycleaning and laundry services,A,Washington city,8123,11,50000,DC,11,Washington,Washington _DC
6698361,6517098,0,23,Coin-operated laundries and drycleaners,A,Washington city,81231,11,50000,DC,11,Washington,Washington _DC
6698365,6525086,0,23,Coin-operated laundries and drycleaners,A,Washington city,812310,11,50000,DC,11,Washington,Washington _DC
6698369,6527488,0,1,Coin-operated laundry routes,A,Washington city,8123101,11,50000,DC,11,Washington,Washington _DC
6698373,6534090,0,22,Coin-operated laundries and drycleaning stores,A,Washington city,8123102,11,50000,DC,11,Washington,Washington _DC
6698377,6544940,509,119,Drycleaning and laundry services (except coin-...,A,Washington city,81232,11,50000,DC,11,Washington,Washington _DC
6698381,6556166,509,119,Drycleaning and laundry services (except coin-...,A,Washington city,812320,11,50000,DC,11,Washington,Washington _DC
6698385,6559268,0,1,"Laundries, family and commercial",A,Washington city,8123201,11,50000,DC,11,Washington,Washington _DC
6698389,6568236,385,80,Drycleaning plants,A,Washington city,8123202,11,50000,DC,11,Washington,Washington _DC
6698393,6572648,0,38,Garment pressing and agents for laundries,A,Washington city,8123203,11,50000,DC,11,Washington,Washington _DC
6698397,6575536,0,1,Linen and uniform supply,A,Washington city,81233,11,50000,DC,11,Washington,Washington _DC
6698401,6577084,0,1,Linen supply,A,Washington city,812331,11,50000,DC,11,Washington,Washington _DC
6698405,6591360,3993,431,Other personal services,A,Washington city,8129,11,50000,DC,11,Washington,Washington _DC
6698409,6602924,0,20,Pet care (except veterinary) services,A,Washington city,81291,11,50000,DC,11,Washington,Washington _DC
6698413,6614028,0,20,Pet care (except veterinary) services,A,Washington city,812910,11,50000,DC,11,Washington,Washington _DC
6698417,6616236,0,4,Photofinishing,A,Washington city,81292,11,50000,DC,11,Washington,Washington _DC
6698421,6617100,0,3,Photofinishing laboratories (except one-hour),A,Washington city,812921,11,50000,DC,11,Washington,Washington _DC
6698425,6617462,0,1,One-hour photofinishing,A,Washington city,812922,11,50000,DC,11,Washington,Washington _DC
6698429,6620282,3350,383,Parking lots and garages,A,Washington city,81293,11,50000,DC,11,Washington,Washington _DC
6698433,6623190,3350,383,Parking lots and garages,A,Washington city,812930,11,50000,DC,11,Washington,Washington _DC
6698437,6629828,381,24,All other personal services,A,Washington city,81299,11,50000,DC,11,Washington,Washington _DC
6698441,6636964,381,24,All other personal services,A,Washington city,812990,11,50000,DC,11,Washington,Washington _DC
6698445,6640394,0,1,Dating services,A,Washington city,8129902,11,50000,DC,11,Washington,Washington _DC
6698449,6646254,0,23,All other miscellaneous personal services,A,Washington city,8129909,11,50000,DC,11,Washington,Washington _DC
6698453,6664752,51263,2417,"Religious, grantmaking, civic, professional, a...",A,Washington city,813,11,50000,DC,11,Washington,Washington _DC

In [25]:
jobs = list(data_2012['NAICS2012_TTL'].unique())

In [26]:
for i in jobs:
    if 'engineering' in i:
        print(i)
    if 'science' in i:
        print(i)
    if 'lawyer' in i:
        print(i)
    if 'medical' in i:
        print(i)
    if 'medicine' in i:
        print(i)
    if 'education' in i:
        print(i)    
    if 'computer' in i:
        print(i)     
    if 'accounting' in i:
        print(i)    
    if 'engineer' in i:
        print(i)
    if 'tax' in i:
        print(i)
    if 'technology' in i:
        print(i)
    if 'programming' in i:
        print(i)
    if 'artists' in i:
        print(i)
    if 'music' in i:
        print(i)
    if 'bio' in i:
        print(i)
    if 'research' in i:
        print(i)
    if 'legal' in i:
        print(i)
    if 'development' in i:
        print(i)
    if 'planning' in i:
        print(i)
    if 'surgical' in i:
        print(i)

Heavy and civil engineering construction
Heavy and civil engineering construction
Veneer, plywood, and engineered wood product manufacturing
Pharmaceutical and medicine manufacturing
Electronic computer manufacturing
Computer terminal and other computer peripheral equipment manufacturing
Navigational, measuring, electromedical, and control instruments manufacturing
Electromedical and electrotherapeutic apparatus manufacturing
Surgical and medical instrument manufacturing
Computer and computer peripheral equipment and software merchant wholesalers
Computer and computer peripheral equipment merchant wholesalers
Surgical, medical, and hospital supplies merchant wholesalers
Sporting goods, hobby, musical instrument, and book stores
Sporting goods, hobby, and musical instrument stores
Other water passenger transportation (including water taxi)
Cable and other subscription programming
Direct life, health, and medical insurance carriers
Direct health and medical insurance carriers
Direct insurance (except life, health, and medical) carriers
Other direct insurance (except life, health, and medical) carriers
Offices of lawyers
Legal aid societies and similar legal services
Other legal services
All other legal services
Accounting, tax preparation, bookkeeping, and payroll services
Other accounting services
Architectural, engineering, and related services
Architectural, engineering, and related services
Custom computer programming services
Custom computer programming services
Other computer related services
Scientific research and development services
Scientific research and development services
Research and development in the physical, engineering, and life sciences
Research and development in the physical, engineering, and life sciences
Research and development in the physical, engineering, and life sciences
Research and development in the physical, engineering, and life sciences
Research and development in biotechnology
Research and development in biotechnology
Research and development in biotechnology
Research and development in the physical, engineering, and life sciences (except biotechnology)
Research and development in the physical, engineering, and life sciences (except biotechnology)
Research and development in the physical, engineering, and life sciences (except biotechnology)
Research and development in the physical, engineering, and life sciences (except biotechnology)
Research and development in the physical, engineering, and life sciences (except biotechnology)
Research and development in the physical, engineering, and life sciences (except biotechnology)
Research and development in the physical and engineering sciences
Research and development in the physical and engineering sciences
Research and development in the physical and engineering sciences
Research and development in the physical and engineering sciences
Research and development in other life sciences
Research and development in other life sciences
Research and development in the social sciences and humanities
Research and development in the social sciences and humanities
Marketing research and public opinion polling
Economic or industrial planning or development organization
Economic or industrial planning or development organization
Business schools and computer and management training
Professional and management development training
Art, drama, and music schools
Family planning centers
HMO medical centers
Freestanding ambulatory surgical and emergency centers
General medical and surgical hospitals
General medical and surgical hospitals
General medical and surgical hospitals, government
General medical and surgical hospitals, government
General medical and surgical hospitals, except government
General medical and surgical hospitals, except government
Residential intellectual and developmental disability, mental health, and substance abuse facilities
Residential intellectual and developmental disability facilities
Musical groups and artists
Symphony orchestras and chamber music organizations
Other music groups and artists
Other music groups and artists
Agents and managers for artists, athletes, entertainers, and other public figures
Independent artists, writers, and performers

In [27]:
creative_class = ['Heavy and civil engineering construction',
'Veneer, plywood, and engineered wood product manufacturing',
'Pharmaceutical and medicine manufacturing',
'Electronic computer manufacturing',
'Computer terminal and other computer peripheral equipment manufacturing',
'Navigational, measuring, electromedical, and control instruments manufacturing',
'Electromedical and electrotherapeutic apparatus manufacturing',
'Surgical and medical instrument manufacturing',
'Computer and computer peripheral equipment and software merchant wholesalers',
'Computer and computer peripheral equipment merchant wholesalers',
'Surgical, medical, and hospital supplies merchant wholesalers',
'Direct life, health, and medical insurance carriers',
'Direct health and medical insurance carriers',
'Direct insurance (except life, health, and medical) carriers',
'Offices of lawyers',
'Legal aid societies and similar legal services',
'Other legal services',
'All other legal services',
'Accounting, tax preparation, bookkeeping, and payroll services',
'Other accounting services',
'Architectural, engineering, and related services',
'Custom computer programming services',
'Other computer related services',
'Scientific research and development services',
'Research and development in the physical, engineering, and life sciences',
'Research and development in the physical, engineering, and life sciences',
'Research and development in biotechnology',
'Research and development in the physical, engineering, and life sciences (except biotechnology)',
'Research and development in the physical and engineering sciences',
'Research and development in other life sciences',
'Research and development in the social sciences and humanities',
'Marketing research and public opinion polling',
'Economic or industrial planning or development organization',
'Business schools and computer and management training',
'Professional and management development training',
'Art, drama, and music schools',
'Family planning centers',
'HMO medical centers',
'Freestanding ambulatory surgical and emergency centers',
'General medical and surgical hospitals',
'General medical and surgical hospitals, government',
'General medical and surgical hospitals, except government',
'Residential intellectual and developmental disability, mental health, and substance abuse facilities',
'Residential intellectual and developmental disability facilities',
'Musical groups and artists',
'Symphony orchestras and chamber music organizations',
'Other music groups and artists',
'Agents and managers for artists, athletes, entertainers, and other public figures',
'Independent artists, writers, and performers']

In [28]:
data_2012_cities_remove_dupes['class'] = pd.np.where(
     data_2012_cities_remove_dupes['NAICS2012_TTL'].isin(creative_class), 
    '1_creative',  
    pd.np.where(~data_2012_cities_remove_dupes['NAICS2012_TTL'].isin(creative_class), 
    '2_regular','3_none'
     ))

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [29]:
data_2012_cities_remove_dupes['class'].unique()

array(['2_regular', '1_creative'], dtype=object)

In [30]:
data_2012_cleaned_af = data_2012_cities_remove_dupes.reset_index()

In [31]:
data_2012_cleaned_af.to_csv('2012_semi_processed.csv')

In [32]:
data_2012_cleaned_af = data_2012_cleaned_af[['fuck_this','EMP','ESTAB','class']]

In [33]:
data_2012_cleaned_af['class'].unique()

array(['2_regular', '1_creative'], dtype=object)

In [34]:
econ_data_final = data_2012_cleaned_af.groupby(['fuck_this','class']).sum().unstack()

In [35]:
econ_data_final.head()

                                   EMP                ESTAB
class                       1_creative 2_regular 1_creative 2_regular
fuck_this
Abbeville _AL                      0.0     522.0       12.0     147.0
Abbeville _GA                      NaN      84.0        NaN      20.0
Abbeville _LA                    288.0    2427.0      120.0     679.0
Abbeville _SC                     33.0      58.0       20.0     187.0
Aberdeen Proving Ground _MD        0.0    5322.0       35.0     381.0

In [36]:
econ_data_final = econ_data_final.reset_index()
econ_data_final.columns = ['city_state','creative_employees','regular_employees',
                           'creative_establishments','regular_establishments']

In [37]:
#econ_data_final = econ_data_final.fillna(0)

In [38]:
#econ_data_final['percent_creative_class'] = (econ_data_final['creative_employees']/(econ_data_final['creative_employees']+econ_data_final['regular_employees']))*100

In [39]:
#econ_data_final.sort_values(by=['percent_creative_class'],  ascending=False)

In [40]:
econ_data_final.to_csv('2012_creative_class.csv')