In [1]:
import pandas as pd
import requests

In [2]:
_1997 = requests.get('https://api.census.gov/data/1997/ewks?get=GEO_TTL,NAICS1997_TTL,EMP,ESTAB,OPTAX&for=place:*&NAICS1997=*')

In [3]:
data = _1997.json()[1:]
schema = _1997.json()[0]

In [4]:
df = pd.DataFrame(data)

In [5]:
df.columns = schema

In [6]:
df.head()

          GEO_TTL  NAICS1997_TTL    EMP ESTAB OPTAX NAICS1997 state  place
0        Arab, AL  Manufacturing   2661    26    99     31-33    01  02116
1  Birmingham, AL  Manufacturing  19057   382    99     31-33    01  07000
2        Boaz, AL  Manufacturing   4488    20    99     31-33    01  07912
3     Decatur, AL  Manufacturing   8495   124    99     31-33    01  20104
4      Dothan, AL  Manufacturing   8269   102    99     31-33    01  21184

In [24]:
jobs = list(df['NAICS1997_TTL'].unique())

In [26]:
for i in jobs:
    if 'science' in i:
        print(i)

R&D in the physical, engineering, & life sciences
R&D in the physical & engineering sciences
Research & development in the life sciences
Research & development in the social sciences & humanitie
Research & development in the social sciences & humanities
R&D in the social sciences & humanities

In [27]:
for i in jobs:
    if 'engineering' in i:
        print(i)

Architectural, engineering, & related services
R&D in the physical, engineering, & life sciences
R&D in the physical & engineering sciences

In [28]:
for i in jobs:
    if 'computer' in i:
        print(i)

Electronic computer mfg
Other computer peripheral equipment mfg
Computer & computer peripheral equipment & software whsle
Custom computer programming services
Other computer related services
Business schools, & computer & management training

In [29]:
for i in jobs:
    if 'law' in i:
        print(i)

Lawn & garden tractor & home lawn & garden equipment mfg
Household & lawn furniture whsle
Offices of lawyers
Offices of lawyers (except legal aid societies)

In [30]:
for i in jobs:
    if 'bio' in i:
        print(i)

In [32]:
for i in jobs:
    if 'arts' in i:
        print(i)

Motor vehicle parts mfg
Motor vehicle gasoline engine & engine parts mfg
Gasoline engine & engine parts mfg
Motor vehicle transmission & power train parts mfg
Other motor vehicle parts mfg
All other motor vehicle parts mfg
Aerospace product & parts mfg
Aircraft engine & engine parts mfg
Guided missile & space vehicle propulsion unit & parts mfg
Other guided missile & space vehicle parts & auxiliary equip mfg
Motorcycle, bicycle, & parts mfg
Motor vehicle & motor vehicle parts & supplies whsle
Motor vehicle supplies & new parts whsle
Motor vehicle supplies & new parts - warehouse distributors
Motor vehicle supplies & new parts - jobbers
Motor vehicle parts, (used) whsle
Other electronic parts & equipment whsle
Electronic parts (excluding communications equipment) whsle
Hydraulic & pneumatic parts, accessories, & supplies whsle
Motor vehicle & parts dealers
Automotive parts, accessories, & tire stores
Automotive parts & accessories stores
Fine arts schools
Performing arts, spectator sports, & related industries
Performing arts companies
Other performing arts companies
Other performing arts companies (except circuses)
Promoters of performing arts, sports, & similar events
Promoters of performing arts, sports, & similar events w/
Promoters of performing arts, sports, & similar events w/facility
Promoters of performing arts, sports, & similar events w/o facil

In [33]:
df.to_csv('1997.csv')