In [1]:
import pandas as pd
import requests

In [2]:
_2007 = requests.get('https://api.census.gov/data/2007/ewks?get=GEOTYPE_MEANING,EMP,ESTAB,OPTAX,NAICS2007_MEANING&for=place:*&in=state:*&NAICS2007=*')

In [3]:
data = _2007.json()[1:]
schema = _2007.json()[0]

In [4]:
df = pd.DataFrame(data)

In [5]:
df.columns = schema

In [6]:
df.head()

,GEOTYPE_MEANING,EMP,ESTAB,OPTAX,NAICS2007_MEANING,NAICS2007,state,place
0,Place,12643,905,99,Total for all sectors,00,78,16300
1,Place,775,110,99,Total for all sectors,00,60,37700
2,Place,7725,287,99,Total for all sectors,00,60,51300
3,Place,0,15,99,Total for all sectors,00,60,67300
4,Place,39,21,99,Total for all sectors,00,60,72100

In [7]:
df.tail()

,GEOTYPE_MEANING,EMP,ESTAB,OPTAX,NAICS2007_MEANING,NAICS2007,state,place
1593898,Place,37,7,Y,"Religious, Grantmaking, Civic, Professional, a...",813,56,67235
1593899,Place,141,31,Y,"Religious, Grantmaking, Civic, Professional, a...",813,56,40120
1593900,Place,0,2,Y,"Religious, Grantmaking, Civic, Professional, a...",813,56,98041
1593901,Place,39,9,Y,"Religious, Grantmaking, Civic, Professional, a...",813,56,98043
1593902,Place,0,3,Y,"Religious, Grantmaking, Civic, Professional, a...",813,56,98045

In [8]:
len(df['NAICS2007_MEANING'].unique())

1446

In [9]:
df.to_csv('2007.csv')