In [1]:
import pandas as pd
import requests

In [3]:
_2002 = requests.get('https://api.census.gov/data/2002/ewks?get=EMP,ESTAB,EMP_F,OPTAX,ESTAB_F&for=place:*&NAICS2002=*')

In [5]:
data = _2002.json()[1:]
schema = _2002.json()[0]

In [6]:
df = pd.DataFrame(data)

In [7]:
df.columns = schema

In [8]:
df.head()

  EMP ESTAB EMP_F OPTAX ESTAB_F NAICS2002 state  place
0   0    26     f    99             31-33     1  02116
1   0     6     b    00                42     1  02116
2   0     6     b    10                42     1  02116
3   0     5     a    00               423     1  02116
4   0     5     a    10               423     1  02116

In [10]:
df['NAICS2002'].unique()

1900

In [11]:
df.to_csv('2002.csv')