In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('2002_creative_class.csv')

In [3]:
df.head()

,Unnamed: 0,city_state,creative_employees,regular_employees,creative_establishments,regular_establishments
0,0,abbeville_al,0.0,280.0,6.0,141.0
1,1,abbeville_ga,NaN,NaN,NaN,NaN
2,2,abbeville_la,236.0,3098.0,206.0,848.0
3,3,abbeville_sc,NaN,898.0,NaN,260.0
4,4,aberdeenprovingground_md,NaN,NaN,NaN,NaN